.dashboard-main-wrapper {
    background-image: url('/assets/concafras2021/concafronas/fundo_tenda.png') !important ;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important ; 
}