<div class="hub-main ">
    <div class="welcome">
        <div class="welcome1 pisca">Bem-vindos à</div>
        <div class="welcome2">Concafras 2021!</div>
        <div class="welcome3">Clique nos círculos do desenho interativo para acessar as plataformas virtuais.</div>
    </div>

    <div *ngIf="svgTooltip" class="svgInfo">
        <strong>{{svgTooltip}}</strong>
    </div>
    <object id="svgMap" type="image/svg+xml" data="assets/concafras2021/concafronas/tenda.svg"></object>
    
    <div id="mobile">
	    
	    <div class="geral-icones">			    
	        <a class="icon-item" (click)="liveEvent()">
	            <img src="/assets/concafras2021/concafronas/tenda/evento-ao-vivo.png" alt="&Iacute;cone - Evento ao vivo">
	            <span>Eventos Coletivos</span>
	        </a>
	            
	        <a class="icon-item" [routerLink]="['/concafrinhas']">
	            <img src="/assets/concafras2021/concafronas/tenda/concafrinhas.png" alt="&Iacute;cone - CONCAFRINHAS">
				<span>CONCAFRINHAS</span>
			</a>

	        <a class="icon-item" [routerLink]="['/jovem']">
	            <img src="/assets/concafras2021/concafronas/tenda/jovem.png" alt="&Iacute;cone - CONCAFRAS Jovem">
				<span>CONCAFRAS Jovem</span>
	        </a>
        
            <a class="icon-item" [routerLink]="['/palestras']">
                <img src="/assets/concafras2021/concafronas/tenda/palestras.png" alt="&Iacute;cone - Palestras Agendadas">
				<span>Palestras Agendadas</span>
            </a>

            <a class="icon-item" [routerLink]="['/ndc']">
                <img src="/assets/concafras2021/concafronas/tenda/ndc.png" alt="&Iacute;cone - Novas Dimens&otilde;es do Conhecimento">
				<span>Novas Dimensões do Conhecimento</span>
            </a>

            <a class="icon-item" (click)="openBookClubComponent()">
                <img src="/assets/concafras2021/concafronas/tenda/stand-voluntario.png" alt="&Iacute;cone - Forma&ccedil;&atilde;o de Trabalhadores Esp&iacute;ritas">
				<span>Formação de Trabalhadores Espíritas</span>
            </a>
    
            <a href="http://www.editoraautadesouza.com.br/" class="icon-item" target="_blank">
                <img src="/assets/concafras2021/concafronas/tenda/livros.png" alt="&Iacute;cone - Livraria">
				<span>Livraria</span>
            </a>

            <a class="icon-item" [routerLink]="['/audithorium-special/clube']">
                <img src="/assets/concafras2021/concafronas/tenda/clube-do-livro.png" alt="&Iacute;cone - Clube do Livro">
				<span>Clube do Livro</span>
            </a>
        
            <a class="icon-item" [routerLink]="['/audithorium-special/editora']">
                <img src="/assets/concafras2021/concafronas/tenda/stand-editora.png" alt="&Iacute;cone - Editora Auta de Souza">
				<span>Editora Auta de Souza</span>
            </a>
        
            <a class="icon-item" [routerLink]="['/audithorium-special/cfas']">
                <img src="/assets/concafras2021/concafronas/tenda/cfas.png" alt="&Iacute;cone - CFAS">
				<span>CFAS</span>
            </a>

            <a class="icon-item" [routerLink]="['/audithorium-special/cecx']">
                <img src="/assets/concafras2021/concafronas/tenda/ccex.png" alt="&Iacute;cone - CCEX">
				<span>CCEX</span>
            </a>
                
	    </div><!— fim geral-icones—->
    </div>
</div>