.hub-main {
  width: 100%;
  height: 100%;
  background-image: url("/assets/concafras2021/concafronas/fundo_tenda.png") !important ;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important ;
}

.welcome {
  font-family: "Poppins";
  font-size: 20pt;
  padding: 15px;
  width: 300px;
  float: left;
}

.welcome1 {
  font-size: 20pt;
  color: #273b87;
  font-weight: bolder;
  padding: 5px;
}

.welcome2 {
  color: white;
  font-weight: bolder;
  background-color: #1ea6ec;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.welcome3 {
  color: #273b87;
  font-size: 10pt;
  padding: 5px;
}

.svgInfo {
  position: relative;
  left: 2rem;
  background-color: #1ea6ec;
  color: white;
  width: 25%;
  margin: 0 auto;
  padding: 0.5rem;
  z-index: 1000;
  text-align: center;
  border: 1px solid #1ea6ec;
  border-radius: 25px;
}

#svgMap {
  position: relative;
  width: 100%;
  right: -2rem;
  top: -9rem;
}


/* ==== RESPONSIVE ==== */
/*
@media only screen and (max-width: 1680px) {
  #svgMap {
    top: -4rem;
  }

  .svgInfo {
    left: 3rem;
    top: 4rem;
  }
}

@media only screen and (max-width: 1400px) {
  #svgMap {
    height: 30rem;
    right: -4rem;
  }

  .svgInfo {
    left: 4rem;
    top: 4rem;
  }
}*/

#mobile .geral-icones {display: none;}


@media only screen and (max-width: 768px) {

	.welcome {
		width: 100%;
		float: initial;
		padding: 15px 15px 0 15px;
	}
	
	#svgMap {
		position: initial;
		left: initial;
		right: initial;
		max-width: 100%;
		display: none !important;
	}
		
	.welcome1,
	.welcome3 {
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	}
	
	.hub-main {
		padding: 10px 5px 50px;
	}
	
	#mobile {text-align: center;}
	
	#mobile .icon-item {
		display: block;
		text-align: left;
		margin-top: 25px;
	}

	#mobile .icon-item img {
		width: 85px;
		height: auto;
	}
	
	#mobile .icon-item span {
		display: inline-block;
		color: #fff;
		background: #007bff;
		padding: 5px 10px;
		border-radius: 5px;	
		font-size: 14px;
		margin-left: 20px;
		max-width: 160px;
		vertical-align: middle;
	}
	
	#mobile .geral-icones {
		display: inline-block;
		text-align: center;
	}
}