<div class="hub-main ">
    <div class="welcome">
        <div class="welcome1 pisca">Bem-vindos à</div>
        <div class="welcome2">Concafras 2021!</div>
        <div class="welcome3">Clique nos círculos do desenho interativo para acessar as plataformas virtuais.</div>
    </div>

    <div *ngIf="svgTooltip" class="svgInfo">
        <strong>{{svgTooltip}}</strong>
    </div>
    <object id="svgMap" type="image/svg+xml" data="assets/concafras2021/concafronas/tenda.svg"></object>
    
    <div id="mobile">
        <div class="row">
            <a class="icon" [routerLink]="['/palestras']">
                <img src="/assets/concafras2021/concafronas/tenda/evento-ao-vivo.png" alt="&Iacute;cone - Evento ao vivo">
            </a>
            <a class="title" [routerLink]="['/palestras']">Eventos Coletivos</a>
        </div>
        
        <div class="row">
            <a class="icon" [routerLink]="['/concafrinhas']">
                <img src="/assets/concafras2021/concafronas/tenda/concafrinhas.png" alt="&Iacute;cone - CONCAFRINHAS">
            </a>
            <a class="title" [routerLink]="['/concafrinhas']">CONCAFRINHAS</a>
        </div>

        <div class="row">
            <a class="icon" [routerLink]="['/jovem']">
                <img src="/assets/concafras2021/concafronas/tenda/jovem.png" alt="&Iacute;cone - CONCAFRAS Jovem">
            </a>
            <a class="title" [routerLink]="['/jovem']">CONCAFRAS Jovem</a>
        </div>

        <div class="row">
            <a class="icon" [routerLink]="['/palestras']">
                <img src="/assets/concafras2021/concafronas/tenda/palestras.png" alt="&Iacute;cone - Palestras Agendadas">
            </a>
            <a class="title" [routerLink]="['/palestras']">Palestras Agendadas</a>
        </div>

        <div class="row">
            <a class="icon" [routerLink]="['/ndc']">
                <img src="/assets/concafras2021/concafronas/tenda/ndc.png" alt="&Iacute;cone - Novas Dimens&otilde;es do Conhecimento">
            </a>
            <a class="title" [routerLink]="['/ndc']">Novas Dimensões do Conhecimento</a>
        </div>

        <div class="row">
            <a class="icon" (click)="openBookClubComponent()">
                <img src="/assets/concafras2021/concafronas/tenda/stand-voluntario.png" alt="&Iacute;cone - Forma&ccedil;&atilde;o de Trabalhadores Esp&iacute;ritas">
            </a>
            <a class="title" (click)="openBookClubComponent()">Formação de Trabalhadores Espíritas</a>
        </div>

        <div class="row">
            <a href="http://www.editoraautadesouza.com.br/" class="icon" target="_blank">
                <img src="/assets/concafras2021/concafronas/tenda/livros.png" alt="&Iacute;cone - Livraria">
            </a>
            <a href="http://www.editoraautadesouza.com.br/" class="title" target="_blank">Livraria</a>
        </div>

        <div class="row">
            <a class="icon" [routerLink]="['/audithorium-special/clube']">
                <img src="/assets/concafras2021/concafronas/tenda/clube-do-livro.png" alt="&Iacute;cone - Clube do Livro">
            </a>
            <a class="title" [routerLink]="['/audithorium-special/clube']">Clube do Livro</a>
        </div>
        
        <div class="row">
            <a class="icon" [routerLink]="['/audithorium-special/editora']">
                <img src="/assets/concafras2021/concafronas/tenda/stand-editora.png" alt="&Iacute;cone - Editora Auta de Souza">
            </a>
            <a class="title" [routerLink]="['/audithorium-special/editora']">Editora Auta de Souza</a>
        </div>
        
        <div class="row">
            <a class="icon" [routerLink]="['/audithorium-special/cfas']">
                <img src="/assets/concafras2021/concafronas/tenda/cfas.png" alt="&Iacute;cone - CFAS">
            </a>
            <a class="title" [routerLink]="['/audithorium-special/cfas']">CFAS</a>
        </div>
        
        <div class="row">
            <a class="icon" [routerLink]="['/audithorium-special/cecx']">
                <img src="/assets/concafras2021/concafronas/tenda/ccex.png" alt="&Iacute;cone - CCEX">
            </a>
            <a class="title" [routerLink]="['/audithorium-special/cecx']">CCEX</a>
        </div>
    </div>
</div>