<div *ngIf="dialog == 'inicial'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <div class="MessageText">Olá {{userName}}, eu sou o João Marcos. Bem vindo(a) à Casa do Caminho! Aqui vamos por em prática tudo que temos aprendido na CONCAFRAS! Você também pode conferir como acontecem as atividades práticas nas Mocidades Espíritas:</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-caminho/dialogo/conhecendo']" [routerLinkActive]="['active']">Conhecendo a Casa do Caminho</a></li>
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-caminho/dialogo/pratica']" [routerLinkActive]="['active']">Minha Prática na CONCAFRAS</a></li>
        <li class="list-group-item" *ngFor="let stage of stages">
          <a *ngIf="stage.activities.length > 1" [routerLink]="['/jovem/jovem-list/', stage._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
          <a *ngIf="stage.activities.length === 1" [routerLink]="['/jovem/audithorium/', 'activity', stage.activities[0]._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
          <a *ngIf="stage.activities.length === 0" [routerLink]="" [routerLinkActive]="['inactive']">{{stage.name}}</a>
        </li>
        <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Sair da Ilha</a></li>
      </ul>
      <div class="MessageDate">{{getTime(3)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>

<div *ngIf="dialog == 'conhecendo'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <div class="MessageText">
        Olá {{userName}}, meu nome é João Marcos, sobrinho do discípulo de Jesus, Barnabé.
      </div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">
        Quando eu tinha mais ou menos a sua idade, assim, bem jovenzinho, fui convidado por Paulo de Tarso a colaborar nos trabalhos da Casa do Caminho. Lugar onde esta ilha foi inspirada!<br/>
        A Casa do Caminho foi erguida à beira da estrada, próximo à entrada de Jerusalém, por Pedro e outros apóstolos após a crucificação de Jesus.
      </div>
      <div class="MessageDate">{{getTime(2)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">
        Ali eles socorriam pobres, ricos, doentes, desesperados, viajantes, enfim, pessoas de todas as idades e origens, qualquer um que precisasse de socorro material e espiritual, oferecendo alimento, repouso, orações e estudo do Evangelho de Jesus.
      </div>
      <div class="MessageDate">{{getTime(3)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <div class="MessageText">
        É claro que eu fiquei bem empolgado no começo, e que houveram vezes em que eu pensei em desistir... maaaaas, com o tempo, entendi que a caridade é o exercício do amor que o Cristo nos ensinou, e que, quando fazemos de coração a alegria que sentimos compensa toda renúncia que fazemos em benefício do nosso próximo.<br/>
        Para saber um pouco mais sobre a história dos apóstolos, Paulo de Tarso e sobre a Casa do Caminho, leia o livro Paulo e Estevão, ditado pelo espírito Emmanuel, pela psicografia de Chico Xavier. Tenho certeza que você vai se emocionar muuuito, {{userName}}, assim como eu.
      </div>
      <div class="MessageDate">{{getTime(5)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <img class="MessageImage" src="/assets/jovem/img/Paulo e Estêvão.jpg">
      <div class="MessageDate">{{getTime(7)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-caminho/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
      </ul>
      <div class="MessageDate">{{getTime(9)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>

<div *ngIf="dialog == 'pratica'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <div class="MessageText">{{userName}}, no momento da inscrição você escolheu um Curso, se lembra?</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">
        O curso escolhido por você é:<br/>
        <div *ngFor="let trail of trails">
          <b>{{trail.name}}</b><br/>
          {{trail.description}}
        </div>
      </div>
      <div class="MessageDate">{{getTime(1)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Você terá a oportunidade de viver, na prática, o que você aprendeu no seu curso.</div>
      <div class="MessageDate">{{getTime(3)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Será o momento de aliar a teoria espírita à uma proposta de atividade que você vai aprender a realizar, podendo, inclusive, fazer na sua Mocidade Espírita depois!</div>
      <div class="MessageDate">{{getTime(5)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Sempre associado às aulas teóricas, haverá um momento de aplicação prática dos conhecimentos adquiridos. Não Perca! Será emocionante!</div>
      <div class="MessageDate">{{getTime(6)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">{{userName}}, confira a programação das práticas do seu Tema Específico abaixo! A programação dos momentos teóricos pode ser encontrada na Ilha Casa do Escritor.</div>
      <div class="MessageDate">{{getTime(8)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <div *ngFor="let group of groupSchedules; let i = index">
        <div class="card" style="width: 100%">
          <div class="card-header" style="
              text-align: center;
              background-color: #273b87;
              text-align: center;
              color: white;
              font-weight: 500;
            ">
            Dia {{ i + 1 }} - {{ group.group }}
          </div>
          <ul class="list-group list-group-flush">
            <li style="display: block; padding: 1rem; color: #474747" *ngFor="let schedule of group.schedule, let i = index">
              <a href="#" data-toggle="modal" (click)="SelectContent(i)">
                <div style="float: left">
                  <div [tooltip]="schedule.description" placement="left">
                    {{ schedule.name }}
                  </div>
                  <div style="display: block">
                    <div style="float: left">
                      <span style="font-size: 0.8rem; color: #a2a2a2">{{
                        schedule.description
                        }}</span>
                    </div>
                    <div style="float: right">
                      <img style="margin-left: 5rem" src="assets/concafras2021/concafronas/icones/icone-closed-caption.svg" />
                      <img style="margin-left: 0.5rem" src="assets/concafras2021/concafronas/icones/libras.svg" />
                    </div>
                  </div>
                </div>
                <div style="float: right; font-weight: 500">
                  {{ schedule.start_time | date: "HH:mm" }} -
                  {{ schedule.end_time | date: "HH:mm" }}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-caminho/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
      </ul>
      <div class="MessageDate">{{getTime(9)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
  <div *ngIf="showSelect" class="Space"></div>
  <div *ngIf="showSelect" class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">João Marcos</div>
      <div class="MessageText">{{userName}}, escolha abaixo como você quer assistir o curso selecionado.</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div *ngIf="showSelect" class="Space"></div>
  <div *ngIf="showSelect" class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li *ngIf="zoomId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', zoomId]">Zoom</a></li>
        <li *ngIf="videoId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', videoId]">Vídeo</a></li>
        <li *ngIf="audioId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', audioId]">Áudio</a></li>
      </ul>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>
