<div id="bg">
  <img
    src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png"
    alt=""
  />
</div>
<div class="retangulo-2">
  <div class="text-center">
    <span>Termos de uso de dados e imagem</span>
  </div>
  <div class="section-termos">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
  <div class="form-check check-termos">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Estou de acordo com o Termo de Uso de Dados e de Imagem e autorizo o uso.</label>
  </div>
  <div>
    <input type="submit" value="Continuar" class="btn btn-primary btn-sm btn-termos">
  </div>
</div>
