<div class="casa-nvl2">
  <div class="container-total">

    <a [routerLink]="'/concafrinhas/home'">
      <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
        title="Voltar">
    </a>

    <a [routerLink]="'/concafrinhas/nosso-mural'" target="_blank" rel="noopener noreferrer">
      <img class="btn-upload buttons botao" src="assets/concafras2021/concafrinhas/btn-upload.png" alt="Enviar arquivos"
        title="Enviar arquivos">
    </a>

    <img *ngFor="let img of srcImgs; let i = index" class="porta{{ i + 1 }} buttons" [src]="img"
      (click)="doSomething(i, i, templateListaOA)">

    <img class="principal" src="assets/concafras2021/concafrinhas/CasaNivel2/CasaNivel2Interior.jpg">

  </div>
</div>

<ng-template #templateListaOA>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Selecione abaixo a oficina:</h4>
      <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body-list">
      <ul class="list-group list-group-flush">
        <li *ngFor="let workshop of workshops; let i = index" class="list-group-item" (click)="doSomething(2, i, null)">
          {{ workshop.name }}</li>
      </ul>
    </div>
  </div>
</ng-template>
