:root {
  --cor-principal: rgba(46, 62, 77, .7);
  --cor-secundaria: rgba(222, 228, 235, .7);
}

.interior-background {
  background-image: url('/assets/jovem/img/ilha1_interior.svg'); /* usar @media para carregar fundo diferente para celular */
  background-position: center center; 
  background-size: cover;
  background-clip: padding-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  border: 0px dashed yellow;   /* só para teste - visualizar as div das imagens */
}

.visible-area {
  width: 100%;
  height: 100%;
  min-height: 230px;
  padding-left: 109px;
  padding-right: 225px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 0px dashed green;   /* só para teste - visualizar as div das imagens */
}

.personagem-dialogo-container {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: 0px dashed black;   /* só para teste - visualizar as div das imagens */
}

.personagem-container {
  height: fit-content;
  width: 30%;
  min-width: 220px;
  max-width: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 0px dashed yellow;   /* só para teste - visualizar as div das imagens */
}

.dialogo-container {
  height: fit-content;
  flex: 1;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 0px dashed yellow;   /* só para teste - visualizar as div das imagens */
}

.personagem {
  width: 100%;
  opacity: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dialogo {
  background-color: rgba(255, 255, 255, .8);
  height: fit-content;
  max-height: 100%;
  max-width: 300px;
  margin: 3px;
  margin-top: 0;
  padding: 6px;
  padding-bottom: 3px;
  border-radius: 8px;
  border-width: 1px;
  border-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

p {
  margin-bottom: 3px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 1em;
  border-radius: 8px;
}

.btn-darkblue {
  background-color: #273B87;
  border-color: #273B87
}

.btn-darkblue:hover {
  background-color: #121B3F;
  border-color: #121B3F;
}

.btn-blue {
  background-color: #2371BA;
  border-color: #2371BA;
}

.btn-blue:hover {
  background-color: #103456;
  border-color: #103456;
}

.btn-lightblue {
  background-color: #1EA6EC;
  border-color: #1EA6EC;
}

.btn-lightblue:hover {
  background-color: #0A4E71;
  border-color: #0A4E71;
}

.btn-lightpink {
  background-color: #a6808c;
  border-color: #a6808c;
}

.btn-lightpink:hover {
  background-color: #60434c;
  border-color: #60434c;
}

@media (max-width: 900px) {

  .visible-area {
    width: 100%;
    height: 100%; /*min-height*/
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0px dashed green;   /* só para teste - visualizar as div das imagens */
  }
}


@media (orientation: landscape) and (max-height: 426px) {

  .visible-area {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
  }
  
  .personagem-dialogo-container {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (orientation: portrait) and (max-width: 426px) {

  .visible-area {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .personagem-dialogo-container {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

}
 