section {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0;
   left: 0;
   transition-delay: 0.5s;
   background-image: url(/assets/jovem/img/bribrioteca.png);
   background-position: bottom;  
   background-size: cover;  
   background-repeat: no-repeat;


}
.caixa{
   position: relative;
   background-color: #007bff7a;
   padding: 15px;
   margin-bottom: 15px;
}

.caixa p{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}
