<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="container1">
  <form>
   <div class="container fixed-bottom">
      <div class="row">
        <div class="col-md-12 caixa">
          <p class="text-left" >Bem vindo(a) à Ilha da Casa do Escritor! O que você deseja acessar?

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-left">
            </li>                        
            <li class="list-group-item text-left">
                <input type="radio" id="Slide2" name="slider" title="Section 2"/>
            </li>                        
            <li class="list-group-item text-left">
                <a>- Jogos Temáticos</a>
            </li>
        </ul>

    </div>
</div>
</div>
<input type="radio" id="Slide2" name="slider" title="Section 2" checked="checked"/>

<input type="radio" id="Slide2" name="slider" title="Section 2"/>
<input type="radio" id="Slide3" name="slider" title="Section 3"/>
<input type="radio" id="Slide4" name="slider" title="Section 4"/>
<input type="radio" id="Slide5" name="slider" title="Section 5"/>
<div class="labels">
  <label for="Slide1" id="Slide1" class="Slide bribrioteca">

    <div class="content">


    </div><!-- FINAL CONTENT -->
</label>
<label for="Slide2" id="Slide2" class="Slide">
    <div class="content">
      <h2>Seção 2</h2>
  </div>
</label>
<label for="Slide3" id="Slide3" class="Slide">
    <div class="content">
      <h2>Seção 3</h2>  
  </div>
</label>
<label for="Slide4" id="Slide4" class="Slide">
    <div class="content">
      <h2>Seção 4</h2>
  </div>
</label>
<label for="Slide5" id="Slide5" class="Slide">
    <div class="content">
      <h2>Seção 5</h2>
  </div>
</label>
</div>
</form>
</div>



<router-outlet></router-outlet>
