<!-- src/app/header/header.component.html -->
<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/">RSVP</a>
    </h1>
  </div>
  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a
          routerLink="/welcome"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" i18n="Boas Vindas">Boas Vindas</a>
      </li>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Congresso</a>
      </li>
      <li>
        <a
          routerLink="/audithorium"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Tenda</a>
      </li>
    </ul>
  </nav>
</header>