<div class="sala">
    <img id="fundo" *ngIf="level == 'jardim'" src="assets/concafras2021/concafrinhas/jardim.png" usemap="#image-map">
    <img id="fundo" *ngIf="level == 'bercario'" src="assets/concafras2021/concafrinhas/bercario.png" usemap="#image-map">
    <img id="fundo" *ngIf="level == 'maternal'" src="assets/concafras2021/concafrinhas/maternal.png" usemap="#image-map">
    <img id="fundo" *ngIf="level == 'nivel2'" src="assets/concafras2021/concafrinhas/nivel2.png" usemap="#image-map">
    

    <map name="image-map">
        <area target="" alt="Tema Central" title="Tema Central" href="/concafrinhas/audithorium" coords="155,135,422,289" shape="rect">
        <area target="" alt="Oficinas de Arte" title="Oficinas de Arte" href="/concafrinhas/audithorium" coords="579,133,851,289" shape="rect">
        <area target="" alt="Temas Específicos" title="Temas Específicos" href="/concafrinhas/audithorium" coords="1001,135,1279,292" shape="rect">
        <area target="" alt="Tema Central" title="Tema Central" href="/concafrinhas/audithorium" coords="128,299,152,289,422,290,441,308,438,335,413,347,148,344,125,332" shape="poly">
        <area target="" alt="Oficinas de Arte" title="Oficinas de Arte" href="/concafrinhas/audithorium" coords="560,305,579,287,853,289,872,310,867,337,850,348,579,347,558,332" shape="poly">
        <area target="" alt="Temas Específicos" title="Temas Específicos" href="/concafrinhas/audithorium" coords="990,300,1002,290,1279,292,1296,304,1296,337,1275,352,1003,349,985,337" shape="poly">
    </map>
</div>