<div *ngIf="actualContent" style="height: inherit; padding: 7px">
    <h4 class="text-center">{{ actualContent.name }}</h4>
    <div *ngIf="actualContent.type == 'img'" style="height: inherit">
        <img
        [src]="actualContent.file.fileLink"
        alt="image slide"
        style="display: block; width: 100%; max-height: 600px; object-fit: contain"
        />
    </div>

    <div *ngIf="actualContent.type == 'youtube'" style="height: inherit">
        <app-videojs [vContent]="actualContent"></app-videojs>
    </div>

    <div *ngIf="actualContent.type == 'externo'" style="height: inherit">
        <app-iframe [sourceUrl]="actualContent.url"></app-iframe>
    </div>

    <div *ngIf="actualContent.type == 'doc'" style="height: inherit">
        <app-iframe [sourceUrl]="actualContent.file.fileLink"></app-iframe>
    </div>

    <div *ngIf="actualContent.type == 'zoom'">
        <app-zoomus [vContent]="actualContent"></app-zoomus>
    </div>

    <p>{{ actualContent.text }}</p>
    <p *ngIf="contents.length > 1">
        Conteúdo {{ index + 1 }} de {{ contents.length }}
    </p>
    
</div>
<div>
    <div
        style="display: flex; place-content: space-between"
        *ngIf="contents.length > 1"
    >
        <button
        [disabled]="index <= 0"
        class="btn btn-success"
        (click)="previousContent()"
        type="button"
        >
        Anterior
        </button>
        <button
        [disabled]="index >= contents.length - 1 || !canMoveForward"
        class="btn btn-success"
        (click)="nextContent()"
        type="button"
        >
        Próximo
        </button>
    </div>
</div>
<div class="row justify-content-center">
    <button class="btn-lg btn-primary" onclick="window.history.back()">Voltar</button>
</div>
<div class="fundo"></div>
