<div class="flipsnack" style="background-color: blue;">
    <div class="conteudo" *ngIf="hash == 'c9y1seqjiq'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=c9y1seqjiq" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '7t8rmnnvxn'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=7t8rmnnvxn" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'h9exlq0n30'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=h9exlq0n30" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '7h3gf0apma'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=7h3gf0apma" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'x9eo80apma'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=x9eo80apma" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'vc30c9jd1j'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=vc30c9jd1j" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'tn0xe645s4'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=tn0xe645s4" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '1k30c9jd1j'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=1k30c9jd1j" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'x90xfq0n30'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=x90xfq0n30" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '1n3b80apma'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=1n3b80apma" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'dp52j3mzhm'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=dp52j3mzhm" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'c827aeqjiq'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=c827aeqjiq" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '19yvl0apma'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=19yvl0apma" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'dpad5slcjl'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=dpad5slcjl" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'v7cfd1x2gx'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=v7cfd1x2gx" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '1p0b5lfunf'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=1p0b5lfunf" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == '7kf29i3xu3'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=7kf29i3xu3" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'xhfrfask9s'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=xhfrfask9s" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'h90b5lfunf'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=h90b5lfunf" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
    
    <div class="conteudo" *ngIf="hash == 'h5qrfask9s'">
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=v7cfd1x2gx" width="100%" height="480"
            seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen>
        </iframe>
    </div>
</div>