<div>
    <ul>
        <li *ngFor="let content of contents"> 
            <div class="card">
                <img src="https://img.youtube.com/vi/-gAw_W4uzho/sddefault.jpg" class="card-img-top sing-with-us-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{content.name}}</h5>
                    <p class="card-text">{{content.description}}</p>
                    <a [routerLink]="['/jovem/audithorium/', 'lecture', content._id]" [routerLinkActive]="['active']">Play</a>
                    <button type="button" class="btn btn-primary" value="Click" onclick ="playVideo('-gAw_W4uzho')">Play</button>
                </div>
            </div>
        </li>
    </ul>
</div>

