/* ==== SING WITH US ==== */
.sing-with-us-img {
    width: 160px;
    height: 120px;
}

.sing-with-us-iframe {
    width: 1229px;
    height: 691px;
}

.sing-with-us-card {
    margin-top: 2rem;
}

/* ==== RESPONSIVE ==== */
@media only screen and (max-width:1400px) {
    .sing-with-us-iframe {
        width: 560px;
        height: 315px;
    }
}