.ndc-container:first-child {
    margin-top: 0;
}

.ndc-container {
    margin: 2rem 0;
}

.ndc-row {
    display: block;
}

/* ==== IMG ==== */
.img-size {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
}

/* ==== NDC CONTENT ==== */
.margin-card {
    margin: 0.3rem;
}

.card {
    background-image: linear-gradient(#fbfbfb, #dcdcdc);
    box-shadow: 4px 2px 10px 0px #3b3b3b;
}

.card .card-div-img {
    height: 8rem;
    background-color: blue;
}

.card .card-div-img .card-div-img-size {
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
}

.card .card-div-text {
    height: 6rem;
    padding: 0.8rem 0;
}

.card .card-div-text .card-div-text-content {
    display: block;
    color: #273B87;
    text-align: center;
}