<div class="laborterapias">

    <div class="container-total">

        <a href="/concafrinhas/atividades">
            <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png" title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons botao" src="assets/concafras2021/concafrinhas/btn-home.png" title="Circo">
        </a>

        <a href="/concafrinhas/nosso-mural" target="_blank" rel="noopener noreferrer">
            <img class="btn-upload buttons" src="assets/concafras2021/concafrinhas/btn-upload.png" alt="Enviar arquivos"
                title="Enviar arquivos">
        </a>

        <div class="lista-opcoes">

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv01.png"
                    (click)="openModal(template01)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv02.png"
                    (click)="openModal(template02)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv03.png"
                    (click)="openModal(template03)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv04.png"
                    (click)="openModal(template04)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv05.png"
                    (click)="openModal(template05)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv06.png"
                    (click)="openModal(template06)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv07.png"
                    (click)="openModal(template07)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv08.png"
                    (click)="openModal(template08)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv09.png"
                    (click)="openModal(template09)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv10.png"
                    (click)="openModal(template10)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv11.png"
                    (click)="openModal(template11)">
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/LaborterapiaInterior.jpg">

    </div>

</div>


<ng-template #template01>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Cartão com tinta caseira</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/oHMYNrryovc" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template02>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Chaveiro de Coração</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/Z8N3DYQcsrM" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template03>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Casinha de papelão</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/XFUcfu-PjOw" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template04>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Flores de papel</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/pvd_mQNw6eU" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template05>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Bonequinho reciclável</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/A0Hdm813Z_U" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template06>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Móbile</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/wfTlAlNIpqg" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template07>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Telefone de brinquedo</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/w81d8lQI708" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template08>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Dobradura de casa</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/gzwbrAfLSss" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template09>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Jogo de Argolas</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ZCzdtaLgAI4" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template10>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Quebra-cabeça</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/DfIxt1Au-80" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template11>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Como fazer: Fantoche do corpo humano</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/c_-lX54y7WM" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>