.user-image-for-edit {
  height: 120px;
  width: 90;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.btn-main {
  background: transparent;
  color: #273b87;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  /* margin: 10px; */
  text-transform: uppercase;
  border-radius: 25px;
  border: solid #273b87 2px;
  transition: 0.2s;
}

.btn-main:hover {
  color: white;
  background-color: #273b87;
  border-color: white;
}

.banner {
  background-color: #1ea6ec;
  background-image: linear-gradient(to right, #a7e0ff, #1ea6ec);
  padding: 0.5rem 3rem;
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 4px 2px 10px 0px #3b3b3b;
  height: 100px;
}

.banner .banner-card {
  display: inline-block;
  vertical-align: middle;
}

.banner .banner-card.banner-item {
  width: 75%;
  color: white;
  font-size: 14px;
  text-align: center;
}

.banner .banner-card.banner-button {
  text-align: right;
  width: 10%;
}

.banner .banner-card.banner-img {
  width: 5rem;
  text-align: left;
}

.banner-img {
  width: 5rem;
}

.secondary-button {
  background: #273b87;
  color: #273b87;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  border-radius: 25px;
  border: solid #273b87 1px;
  transition: 0.2s;
  color: white;
}

.secondary-button:hover {
  /*color: #273B87;*/
  background-color: #1ea6ec;
  border-color: white;
}

.container-level {
  display: flex;
  background-color: #273b87;
}

.divider {
  width: 5px;
  background-image: linear-gradient(0.5turn, #273b87,#203580 10% 90%, #273b87);
  height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /*background-color: #2196F3;
    padding: 10px;*/
  }
  .grid-item {
      margin-top: 10px;
      margin-right: 10px;
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;*/
  }