<section id="my-profile" class="my-profile-container">
  <h2 class="title">{{ title }}</h2>

  <!-- ALERTAS -->
  <div class="alert alert-success" *ngIf="status == 'success'">
    Dados atualizados com sucesso!
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Erro ao atualizar os dados.
  </div>

  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
    <div class="row">
      <div class="col-lg-2">
        <div class="user-image-for-edit" *ngIf="user.image">
          <img [src]="user.image.fileLink" style="width: 98%; height: 98%; border-radius: 50px;" />
        </div>
        <div class="user-image-for-edit" *ngIf="!user.image">
          <fa-icon [icon]="faUserCircle" size="5x"></fa-icon>
        </div>
        <div>
          <button type="button" (click)="selectFile()" class="btn-main">
            Alterar foto
            <input id="select-img" type="file" accept="image/x-png,image/gif,image/jpeg" placeholder="Upload image"
              (change)="fileChangeEvent($event)" />
          </button>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-3">
            <p>
              <label>Nome</label>
              <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
              <span *ngIf="!name.value && name.touched">O nome é obrigatório!</span>
            </p>
          </div>
          <div class="col-lg-3">
            <p>
              <label>Sobrenome</label>
              <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control"
                required />
              <span *ngIf="!surname.value && surname.touched">O sobrenome é obrigatório!</span>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
              <label>Endereço</label>
              <input type="text" name="address" #address="ngModel" [(ngModel)]="user.address" class="form-control"
                required />
              <span *ngIf="!address.value && address.touched">O endereço é obrigatório!</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>
              <label>Cidade</label>
              <input type="text" name="city" #nick="ngModel" [(ngModel)]="user.city" class="form-control" disabled />
            </p>
          </div>
          <div class="col-lg-1">
            <p>
              <label>Estado</label>
              <input type="text" name="state" #nick="ngModel" [(ngModel)]="user.state" class="form-control" disabled />
            </p>
          </div>
          <div class="col-lg-2">
            <p>
              <label>Pais</label>
              <input type="text" name="country" #nick="ngModel" [(ngModel)]="user.country" class="form-control" />
            </p>
          </div>

          <div class="col-lg-3">
            <p>
              <label>Nascimento</label>
              <input type="text" name="birthday" #nick="ngModel" [(ngModel)]="user.birthday" class="form-control"
                bsDatuserker />
            </p>
          </div>
          <div class="col-lg-3">
            <p>
              <label>Telefone</label>
              <input type="text" name="whatsapp" #nick="ngModel" [(ngModel)]="user.whatsapp" class="form-control" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>
              <label>Centro Espírita</label>
              <input type="text" name="company" #nick="ngModel" [(ngModel)]="user.company" class="form-control" />
            </p>
          </div>
          <div class="col-lg-3">
            <p>
              <label>E-mail (Esse é seu login)</label>
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel"
                [(ngModel)]="user.email" class="form-control" required />
              <span *ngIf="!email.value && email.touched">Email inválido!</span>
            </p>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-2">
            <input type="button" value="voltar" class="btn-main" [disabled]="!userEditForm.form.valid" />
          </div>
          <div class="col-lg-2" style="text-align: right">
            <input type="submit" value="Salvar Alterações" class="btn-main" />
            <!-- [disabled]="!userEditForm.form.valid" -->
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<section id="banner" class="banner my-profile-container">
  <div class="banner-card banner-img">
    <img src="assets/concafras2021/concafronas/icones/pesquisa.svg" class="img-size" />
  </div>
  <div class="banner-card banner-item">
    <span>Ajude a CONCAFRAS respondendo nossa pesquisa e
      <strong>ganhe 200 pontos!</strong></span>
  </div>
  <div class="banner-card banner-button">
    <input type="button" value="Fazer Pesquisa" class="secondary-button" />
  </div>
</section>
<section id="levels" class="my-profile-container">
  <div class="row">
    <div class="col-lg-6">
      <span class="title">Meus níveis e pontos</span>
      <div class="container-level">
        <div class="container-level-card">
          <p class="container-level-basic container-level-card-points">
            {{this._userGamificationService.getPoints()}} pontos
          </p>
          <p class="container-level-basic container-level-card-text">
            5º lugar no ranking
          </p>
          <div>
            <img class="badge-main" src="assets/concafras2021/concafronas/badges/sol.svg" alt="Badge" />
          </div>
          <p class="container-level-basic container-level-card-text">
            Faltam 100 pontos<br />para alcançar o
            <strong class="container-level-card-text-strong">nível do sol</strong>
          </p>
        </div>
        <hr class="divider" />
        <div class="container-level-card">
          <p class="container-level-basic container-level-card-levels-text">
            Níveis alcançados
          </p>
          <div class="badge-level-row">
            <div class="badge-level-container">
              <img *ngIf="false" class="badge-level-img-off" src="assets/concafras2021/concafronas/badges/terra off.svg"
                alt="Badge" />
              <img *ngIf="true" class="badge-level-img" src="assets/concafras2021/concafronas/badges/terra.svg"
                alt="Badge" />
              <figcaption class="badge-level-img-text">Terra</figcaption>
            </div>
            <div class="badge-level-container">
              <img *ngIf="false" class="badge-level-img-off" src="assets/concafras2021/concafronas/badges/marte off.svg"
                alt="Badge" />
              <img *ngIf="true" class="badge-level-img" src="assets/concafras2021/concafronas/badges/marte.svg"
                alt="Badge" />
              <figcaption class="badge-level-img-text">Marte</figcaption>
            </div>
          </div>
          <div class="badge-level-row">
            <div class="badge-level-container">
              <img *ngIf="false" class="badge-level-img-off" src="assets/concafras2021/concafronas/badges/venus off.svg"
                alt="Badge" />
              <img *ngIf="true" class="badge-level-img" src="assets/concafras2021/concafronas/badges/venus.svg"
                alt="Badge" />
              <figcaption class="badge-level-img-text">Vênus</figcaption>
            </div>
            <div class="badge-level-container">
              <img *ngIf="false" class="badge-level-img-off"
                src="assets/concafras2021/concafronas/badges/jupiter off.svg" alt="Badge" />
              <img *ngIf="true" class="badge-level-img" src="assets/concafras2021/concafronas/badges/jupiter.svg"
                alt="Badge" />
              <figcaption class="badge-level-img-text">Júpiter</figcaption>
            </div>
          </div>
          <div class="badge-level-row">
            <div class="badge-level-container">
              <img *ngIf="true" class="badge-level-img-off" src="assets/concafras2021/concafronas/badges/sol off.svg"
                alt="Badge" />
              <img *ngIf="false" class="badge-level-img" src="assets/concafras2021/concafronas/badges/sol.svg"
                alt="Badge" />
              <figcaption class="badge-level-img-text">Sol</figcaption>
            </div>
          </div>
          <div class="badge-level-row">
            <a href="" class="btn btn-primary btn-progress">Ver progresso</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <span class="title">Ranking</span>
      <app-card-ranking></app-card-ranking>
      <div style="text-align: center; margin-top: 2rem;">
        <input type="button" value="Ver ranking completo" class="btn-main" />
      </div>
    </div>
  </div>
</section>
<section id="change-my-points" class="my-profile-container">
  <h2 class="title">Trocar meus pontos</h2>
  <div id="carouselChangeMyPoints" class="carousel slide caravan-carousel-recent" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselChangeMyPoints" data-slide-to="0" class="active"></li>
      <li data-target="#carouselChangeMyPoints" data-slide-to="1"></li>
      <!-- <li data-target="#carouselChangeMyPoints" data-slide-to="2"></li> -->
    </ol>
    <div id="carousel-change-my-points" class="carousel-inner">
      <div class="carousel-item card-height active">
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <span>teste</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste</span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item card-height">
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <span>teste 2</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste 2</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste 2</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <span>teste 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselChangeMyPoints" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselChangeMyPoints" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>