#svgMap {
    height: 100%;
    width: 100%;
}

.svgMap {
    cursor: move;
}

.dXPGmn {
    padding-top: 0px;
    padding-right: 32px;
    padding-bottom: 100px;
    background-color: rgb(1, 20, 43);
}

@media screen and (min-width: 1100px) {
    .svgSVWC {
        padding-top: 140px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 75px;
    }
}

.st0 {
	fill: #F9F3D3;
}

.st1 {
	enable-background: new;
}

.st2 {
	clip-path: url(#SVGID_4_);
	enable-background: new;
}

.st3 {
	fill: #A4A9C2;
}

.st4 {
	fill: #C1C8DC;
}

.st5 {
	fill: #D8DFE9;
}

.st6 {
	fill: #E8EEF4;
}

.st7 {
	fill: #14213D;
}

.st8 {
	clip-path: url(#SVGID_8_);
	enable-background: new;
}

.st9 {
	clip-path: url(#SVGID_12_);
	enable-background: new;
}

.st10 {
	clip-path: url(#SVGID_14_);
	enable-background: new;
}

.st11 {
	clip-path: url(#SVGID_16_);
	enable-background: new;
}

.st12 {
	clip-path: url(#SVGID_20_);
	enable-background: new;
}

.st13 {
	clip-path: url(#SVGID_24_);
	enable-background: new;
}

.st14 {
	clip-path: url(#SVGID_26_);
	enable-background: new;
}

.st15 {
	clip-path: url(#SVGID_28_);
	enable-background: new;
}

.st16 {
	fill: #CED4DB;
}

.st17 {
	fill: #FFFFFF;
}

.st18 {
	clip-path: url(#SVGID_31_);
	enable-background: new;
}

.st18a {
	fill: #FFFFFF;
}

.st19 {
	clip-path: url(#SVGID_34_);
	enable-background: new;
}

.st20 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_36_);
}

.st21 {
	fill: #C9A05B;
}

.st22 {
	fill: #D39C55;
}

.st23 {
	fill: #CDA055;
}

.st24 {
	fill: #C99C57;
}

.st25 {
	fill: #F4E09D;
}

.st26 {
	fill: #D19C59;
}

.st27 {
	fill: #D19659;
}

.st28 {
	fill: #CD965B;
}

.st29 {
	fill: #D19463;
}

.st30 {
	fill: #CF9A57;
}

.st31 {
	fill: #D39C53;
}

.st32 {
	fill: #CDA063;
}

.st33 {
	fill: #C79C61;
}

.st34 {
	fill: #CF9453;
}

.st35 {
	fill: #BF8644;
}

.st36 {
	fill: #CD9A61;
}

.st37 {
	opacity: 0.2;
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #CF9A5B;
	enable-background: new;
}

.st38 {
	fill: #242A31;
}

.st39 {
	clip-path: url(#SVGID_40_);
	enable-background: new;
}

.st40 {
	clip-path: url(#SVGID_43_);
	enable-background: new;
}

.st41 {
	fill: #37404A;
}

.st42 {
	fill: #10191B;
}

.st43 {
	fill: url(#SVGID_45_);
}

.st44 {
	clip-path: url(#SVGID_49_);
	enable-background: new;
}

.st45 {
	clip-path: url(#SVGID_51_);
	enable-background: new;
}

.st46 {
	clip-path: url(#SVGID_53_);
	enable-background: new;
}

.st47 {
	clip-path: url(#SVGID_55_);
	enable-background: new;
}

.st48 {
	opacity: 0.9;
}

.st49 {
	fill: #8975BB;
}

.st50 {
	opacity: 0.5;
}

.st51 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #8975BB;
}

.st52 {
	opacity: 0.9804;
	fill: #E6ECF2;
	enable-background: new;
}

.st53 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_56_);
}

.st54 {
	opacity: 0.2;
}

.st55 {
	fill: #8A736E;
}

.st56 {
	opacity: 0.4;
	fill: #8A736E;
	enable-background: new;
}

.st57 {
	opacity: 0.3;
	fill: #8A736E;
	enable-background: new;
}

.st58 {
	opacity: 0.1;
}

.st59 {
	fill: #A18A85;
}

.st60 {
	clip-path: url(#SVGID_58_);
	enable-background: new;
}

.st61 {
	clip-path: url(#SVGID_60_);
	enable-background: new;
}

.st62 {
	clip-path: url(#SVGID_62_);
	enable-background: new;
}

.st63 {
	fill: #CDDCFB;
}

.st64 {
	fill: #E76E1E;
}

.st65 {
	fill: #FB852A;
}

.st66 {
	clip-path: url(#SVGID_64_);
	enable-background: new;
}

.st67 {
	fill: #CCD4EB;
}

.st68 {
	clip-path: url(#SVGID_66_);
	enable-background: new;
}

.st69 {
	clip-path: url(#SVGID_68_);
	enable-background: new;
}

.st70 {
	fill: url(#SVGID_69_);
}

.st71 {
	fill: #D6E6F7;
}

.st71a {
	fill: #C7D300;
}

.st72 {
	fill: #E52168;
}

.st73 {
	fill: url(#SVGID_70_);
}

.st74 {
	fill: #022251;
	stroke: #E52168;
	stroke-miterlimit: 10;
}

.st75 {
	fill: url(#SVGID_71_);
}

.st76 {
	fill: #151D4D;
}

.st77 {
	fill: url(#SVGID_72_);
}

.st77a {
	fill: #151D4D;
}

.st78 {
	fill: url(#SVGID_73_);
}

.st79 {
	fill: url(#SVGID_74_);
}

.st80 {
	fill: url(#SVGID_75_);
}

.st81 {
	fill: url(#SVGID_76_);
}

.st82 {
	fill: url(#SVGID_77_);
}

.st83 {
	fill: url(#SVGID_78_);
}

.st84 {
	fill: url(#SVGID_79_);
}

.st85 {
	fill: url(#SVGID_80_);
}

.st86 {
	fill: url(#SVGID_81_);
}

.st87 {
	fill: url(#SVGID_82_);
}

.st88 {
	fill: url(#SVGID_83_);
}

.st89 {
	fill: url(#SVGID_84_);
}

.st90 {
	fill: url(#SVGID_85_);
}

.st91 {
	fill: url(#SVGID_86_);
}

.st92 {
	fill: url(#SVGID_87_);
}

.st93 {
	fill: url(#SVGID_88_);
}

.st94 {
	fill: url(#SVGID_89_);
}

.st95 {
	fill: url(#SVGID_90_);
}

.st96 {
	fill: url(#SVGID_91_);
}

.st97 {
	fill: url(#SVGID_92_);
}

.st98 {
	fill: url(#SVGID_93_);
}

.st99 {
	fill: url(#SVGID_94_);
}

.st100 {
	fill: url(#SVGID_95_);
}

.st101 {
	fill: url(#SVGID_96_);
}

.st102 {
	fill: url(#SVGID_97_);
}

.st103 {
	fill: url(#SVGID_98_);
}

.st104 {
	fill: url(#SVGID_99_);
}

.st105 {
	fill: url(#SVGID_100_);
}

.st106 {
	fill: url(#SVGID_101_);
}

.st107 {
	fill: url(#SVGID_102_);
}

.st108 {
	fill: url(#SVGID_103_);
}

.st109 {
	fill: url(#SVGID_104_);
}

.st110 {
	fill: #2575AE;
}

.st111 {
	fill: #2AF6FF;
}

.st112 {
	fill: url(#SVGID_105_);
}

.st113 {
	fill: url(#SVGID_106_);
}

.st114 {
	fill: #0080ED;
}

.st115 {
	fill: #1D97F2;
}

.st116 {
	fill: #0F92F4;
}

.st117 {
	fill: url(#SVGID_107_);
}

.st118 {
	opacity: 0.1;
	enable-background: new;
}

.st119 {
	fill: url(#SVGID_108_);
}

.st119 {
	opacity: 0.1;
	enable-background: new;
}

.st120 {
	fill: url(#SVGID_109_);
}

.st121 {
	fill: url(#SVGID_110_);
}

.st122 {
	fill: url(#SVGID_111_);
}

.st123 {
	fill: url(#SVGID_112_);
}

.st124 {
	fill: url(#SVGID_113_);
}

.st125 {
	fill: url(#SVGID_114_);
}

.st126 {
	fill: url(#SVGID_115_);
}

.st127 {
	fill: url(#SVGID_116_);
}

.st128 {
	fill: url(#SVGID_117_);
}

.st129 {
	fill: url(#SVGID_118_);
}

.st130 {
	fill: url(#SVGID_119_);
}

.st131 {
	fill: url(#SVGID_120_);
}

.st132 {
	fill: url(#SVGID_121_);
}

.st133 {
	fill: #020A3B;
}

.st134 {
	fill: url(#SVGID_122_);
}

.st135 {
	fill: url(#SVGID_123_);
}

.st136 {
	fill: url(#SVGID_124_);
}

.st137 {
	fill: url(#SVGID_125_);
}

.st138 {
	fill: url(#SVGID_126_);
}

.st139 {
	fill: url(#SVGID_127_);
}

.st140 {
	fill: url(#SVGID_128_);
}

.st141 {
	fill: url(#SVGID_129_);
}

.st142 {
	fill: url(#SVGID_130_);
}

.st143 {
	fill: url(#SVGID_131_);
}

.st144 {
	fill: url(#SVGID_132_);
}

.st145 {
	fill: url(#SVGID_133_);
}

.st146 {
	fill: url(#SVGID_134_);
}

.st147 {
	fill: url(#SVGID_135_);
}

.st148 {
	fill: #FF0C18;
}

.st149 {
	fill: #E90167;
}

.st150 {
	fill: #AA0A68;
}

.st151 {
	fill: #6B0696;
}

.st152 {
	fill: #290CAD;
}

.st153 {
	fill: #2F42BB;
}

.st154 {
	fill: #2277C6;
}

.st155 {
	fill: #00A9D2;
}

.st156 {
	fill: #00DBDB;
}

.st157 {
	fill: url(#SVGID_136_);
}

.st158 {
	fill: url(#SVGID_137_);
}

.st159 {
	fill: url(#SVGID_138_);
}

.st160 {
	fill: #00183C;
	stroke: url(#SVGID_139_);
	stroke-miterlimit: 10;
}

.st161 {
	fill: url(#SVGID_140_);
}

.st162 {
	fill: url(#SVGID_141_);
}

.st163 {
	fill: url(#SVGID_142_);
}

.st164 {
	fill: url(#SVGID_143_);
}

.st165 {
	fill: url(#SVGID_144_);
}

.st166 {
	fill: url(#SVGID_145_);
}

.st167 {
	fill: url(#SVGID_146_);
}

.st168 {
	fill: url(#SVGID_147_);
}

.st169 {
	fill: url(#SVGID_148_);
}

.st170 {
	fill: url(#SVGID_149_);
}

.st171 {
	fill: url(#SVGID_150_);
}

.st172 {
	fill: url(#SVGID_151_);
}

.st173 {
	fill: url(#SVGID_152_);
}

.st174 {
	fill: url(#SVGID_153_);
}

.st175 {
	fill: url(#SVGID_154_);
}

.st176 {
	fill: url(#SVGID_155_);
}

.st177 {
	fill: url(#SVGID_156_);
}

.st178 {
	fill: url(#SVGID_157_);
}

.st179 {
	fill: url(#SVGID_158_);
}

.st180 {
	fill: url(#SVGID_159_);
}

.st181 {
	fill: url(#SVGID_160_);
}

.st182 {
	fill: url(#SVGID_161_);
}

.st183 {
	fill: url(#SVGID_162_);
}

.st184 {
	fill: url(#SVGID_163_);
}

.st185 {
	fill: url(#SVGID_164_);
}

.st186 {
	fill: url(#SVGID_165_);
}

.st187 {
	fill: url(#SVGID_166_);
}

.st188 {
	fill: url(#SVGID_167_);
}

.st189 {
	fill: url(#SVGID_168_);
}

.st190 {
	fill: url(#SVGID_169_);
}

.st191 {
	fill: url(#SVGID_170_);
}

.st192 {
	fill: url(#SVGID_171_);
}

.st193 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #00346B;
}

.st194 {
	fill: #00346B;
}

.st195 {
	fill: url(#SVGID_172_);
}

.st196 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFFFFF;
}

.st197 {
	fill: url(#SVGID_173_);
}

.st198 {
	fill: #C7D300;
}

.st198a {
	fill: url(#SVGID_179_);
}

.st199 {
	fill: url(#SVGID_174_);
}

.st199a {
	fill: #C7D300;
}

.st200 {
	fill: url(#SVGID_175_);
}

.st200a {
	fill: #BFBF04;
}

.st201 {
	fill: url(#SVGID_176_);
}

.st201a {
	fill: url(#SVGID_180_);
}

.st202 {
	fill: url(#SVGID_177_);
}

.st202a {
	fill: url(#SVGID_181_);
}

.st203 {
	fill: url(#SVGID_178_);
}

.st203a {
	fill: url(#SVGID_182_);
}

.st204 {
	fill: url(#SVGID_179_);
}

.st204a {
	fill: url(#SVGID_183_);
}

.st205 {
	fill: url(#SVGID_180_);
}

.st205a {
	fill: url(#SVGID_184_);
}

.st206 {
	fill: url(#SVGID_181_);
}

.st206a {
	fill: url(#SVGID_185_);
}

.st207 {
	fill: url(#SVGID_182_);
}

.st207a {
	fill: url(#SVGID_186_);
}

.st208 {
	fill: url(#SVGID_183_);
}

.st209 {
	fill: url(#SVGID_184_);
}

.st210 {
	fill: url(#SVGID_185_);
}

.st211 {
	fill: url(#SVGID_186_);
}

.st211a {
	fill: url(#SVGID_190_);
}

.st212 {
	fill: url(#SVGID_187_);
}

.st212a {
	fill: url(#SVGID_191_);
}

.st213 {
	fill: #868686;
}

.st213a {
	fill: url(#SVGID_192_);
}

.st214 {
	fill: #AAAAAA;
}

.st214a {
	fill: url(#SVGID_193_);
}

.st215 {
	fill: #D1D9DB;
}

.st216 {
	fill: #00BFB8;
}

.st217 {
	fill: #FFEFEE;
}

.st218 {
	fill: #CEC5C6;
}

.st219 {
	fill: #F8DDDD;
}

.st220 {
	fill: #F3F0FF;
}

.st221 {
	fill: #6AB7F1;
}

.st222 {
	fill: #CFCCDB;
}

.st223 {
	fill: url(#SVGID_188_);
	stroke: #2DB5B2;
	stroke-miterlimit: 10;
}

.st224 {
	opacity: 0.25;
}

.st225 {
	fill: #FD6269;
}

.st226 {
	fill: #75BAFF;
}

.st227 {
	fill: url(#SVGID_189_);
	stroke: #FD6269;
	stroke-miterlimit: 10;
}

.st228 {
	opacity: 0.33;
}

.st229 {
	fill: #34313F;
}

.st230 {
	fill: url(#SVGID_190_);
}

.st231 {
	fill: url(#SVGID_191_);
}

.st232 {
	fill: #99D9EC;
}

.st233 {
	opacity: 0.77;
	fill: url(#SVGID_192_);
	enable-background: new;
}

.st234 {
	opacity: 0.71;
}

.st235 {
	opacity: 0.25;
	fill: #FFFFFF;
	enable-background: new;
}

.st236 {
	font-family: 'Barlow-SemiBold';
}

.st237 {
	font-size: 12.4929px;
}

.st238 {
	font-size: 10.6166px;
}

.st239 {
	opacity: 0.3;
}

.st240 {
	fill: #001C43;
}

.st241 {
	font-size: 9.4807px;
}

.st242 {
	font-size: 10.2889px;
}

.st243 {
	opacity: 0.8;
	fill: url(#SVGID_193_);
	enable-background: new;
}

.st244 {
	fill: #D8D0CB;
}

.st245 {
	opacity: 0.19;
	fill: #01142B;
	enable-background: new;
}

.st246 {
	fill: #808384;
}

.st247 {
	fill: #696B6B;
}

.st248 {
	fill: #E2E2E2;
}

.st249 {
	fill: #414242;
}

.st250 {
	opacity: 0.15;
}

.st251 {
	fill: #606060;
}

.st252 {
	opacity: 0.3;
	fill: #121214;
	enable-background: new;
}

.st253 {
	fill: #121214;
}

.st254 {
	fill: #303033;
}

.st255 {
	fill: #FF4D75;
}

.st256 {
	fill: #AB183A;
}

.st257 {
	fill: #C7A496;
}

.st258 {
	fill: #F0C6B4;
}

.st259 {
	fill: #FF8400;
}

.st260 {
	fill: #E7E5E5;
}

.st261 {
	fill: #071113;
}

.st262 {
	fill: #1B2224;
}

.st263 {
	fill: #F3A984;
}

.st264 {
	fill: #F4F4F4;
}

.st265 {
	fill: #DDDDDD;
}

.st266 {
	fill: #F5A783;
}

.st267 {
	fill: #EE9C76;
}

.st268 {
	fill: #FFBFA2;
}

.st269 {
	fill: #F8B495;
}

.st270 {
	fill: #C99C83;
}

.st271 {
	fill: #B98C74;
}

.st272 {
	fill: #B8B8B8;
}

.st273 {
	fill: #603913;
}

.st274 {
	fill: #3C2415;
}

.st275 {
	fill: #535359;
}

.st276 {
	opacity: 0.3;
	enable-background: new;
}

.st277 {
	fill: #2E3192;
}

.st278 {
	fill: #29ABE2;
}

.st279 {
	fill: #BCBEC0;
}

.st280 {
	fill: #F15A24;
}

.st281 {
	fill: #7A4100;
}

.st282 {
	fill: #2B5E85;
}

.st283 {
	fill: #944F00;
}

.st284 {
	fill: #BDE0F9;
}

.st285 {
	fill: #D4EFFF;
}

.st286 {
	fill: #A0A4A5;
}

.st287 {
	fill: #CCCDCE;
}

.st288 {
	fill: #002642;
}

.st289 {
	fill: #011928;
}

.st290 {
	fill: #A7A9AC;
}

.st291 {
	fill: #174666;
}

.st292 {
	fill: #2DB5B2;
}

.st293 {
	fill: #D6EEF2;
}

.st294 {
	fill: #D7E0EC;
}

.st295 {
	fill: #ACBDD1;
}

.st296 {
	fill: #D9E0EC;
}

.st297 {
	fill: #E6FDFF;
}

.st298 {
	fill: #B7B7B7;
}

.st299 {
	fill: #F18A00;
}

.st300 {
	fill: #D1D3D4;
}

.st301 {
	fill: #F5F5F5;
}

.st302 {
	fill: #BA6000;
}

.st303 {
	fill: #BFC3C4;
}

.st304 {
	fill: #DB0032;
}

.st305 {
	fill: #959696;
}

.st306 {
	fill: #888989;
}

.st307 {
	fill: #4B7DF7;
}

.st308 {
	fill: #53BFAE;
}

.st309 {
	fill: #4A7DF7;
}

.st310 {
	fill: #2B2B39;
}

.st311 {
	fill: #54C1B4;
}

.st312 {
	opacity: 0.6;
}

.st313 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_194_);
}

.st314 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #D1D9DB;
}

.st315 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #808384;
}

.st316 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_195_);
}

.st317 {
	opacity: 0.8;
	fill: url(#SVGID_196_);
	enable-background: new;
}

.st318 {
	fill: #364685;
}

.st319 {
	fill: #939598;
}

.st320 {
	fill: #24D2C1;
}

.st321 {
	opacity: 0.4;
}

.st322 {
	fill: #16A89F;
}

.st323 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #0065AD;
}

.st324 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #C0DEC1;
}

.st325 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #D2D700;
}

.st326 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #159934;
}

.st327 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FCC200;
}

.st328 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #B1DCDE;
}

.st329 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FBC878;
}

.st330 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #005F90;
}

.st331 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #009EE2;
}

.st332 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #C9E6E9;
}

.st333 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #BE087F;
}

.st334 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #E5007E;
}

.st335 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #EC6EA5;
}

.st336 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #E20613;
}

.st337 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F29100;
}

.st338 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #BC1D1D;
}

.st339 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #E95A0C;
}

.st340 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #308A2C;
}

.st341 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #2FB6BC;
}

.st342 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFEC00;
}

.st343 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F8D1DD;
}

.st344 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #6FB7D0;
}

.st345 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFE7B6;
}

.st346 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #EE7D00;
}

.st347 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #B0DCE7;
}

.st348 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F8D1E4;
}

.st349 {
	clip-path: url(#SVGID_198_);
}

.st350 {
	clip-path: url(#SVGID_200_);
}

.st351 {
	clip-path: url(#SVGID_202_);
}

.st352 {
	clip-path: url(#SVGID_204_);
}

.st353 {
	clip-path: url(#SVGID_206_);
}

.st354 {
	clip-path: url(#SVGID_208_);
}

.st355 {
	clip-path: url(#SVGID_210_);
}

.st356 {
	clip-path: url(#SVGID_212_);
}

.st357 {
	clip-path: url(#SVGID_214_);
}

.st358 {
	clip-path: url(#SVGID_216_);
}

.st359 {
	clip-path: url(#SVGID_218_);
}

.st360 {
	clip-path: url(#SVGID_220_);
}

.st361 {
	clip-path: url(#SVGID_222_);
}

.st362 {
	clip-path: url(#SVGID_224_);
}

.st363 {
	clip-path: url(#SVGID_226_);
}

.st364 {
	clip-path: url(#SVGID_228_);
}

.st365 {
	clip-path: url(#SVGID_230_);
}

.st366 {
	clip-path: url(#SVGID_232_);
}

.st367 {
	clip-path: url(#SVGID_234_);
}

.st368 {
	clip-path: url(#SVGID_236_);
}

.st369 {
	clip-path: url(#SVGID_238_);
}

.st370 {
	clip-path: url(#SVGID_240_);
}

.st371 {
	clip-path: url(#SVGID_242_);
}

.st372 {
	clip-path: url(#SVGID_244_);
}

.st373 {
	clip-path: url(#SVGID_246_);
}

.st374 {
	clip-path: url(#SVGID_248_);
}

.st375 {
	clip-path: url(#SVGID_250_);
}

.st376 {
	clip-path: url(#SVGID_252_);
}

.st377 {
	clip-path: url(#SVGID_254_);
}

.st378 {
	clip-path: url(#SVGID_256_);
}

.st379 {
	clip-path: url(#SVGID_258_);
}

.st380 {
	clip-path: url(#SVGID_260_);
}

.st381 {
	clip-path: url(#SVGID_262_);
}

.st382 {
	clip-path: url(#SVGID_264_);
}

.st383 {
	clip-path: url(#SVGID_266_);
}

.st384 {
	clip-path: url(#SVGID_268_);
}

.st385 {
	clip-path: url(#SVGID_270_);
}

.st386 {
	clip-path: url(#SVGID_272_);
}

.st387 {
	clip-path: url(#SVGID_274_);
}

.st388 {
	clip-path: url(#SVGID_276_);
}

.st389 {
	clip-path: url(#SVGID_278_);
}

.st390 {
	clip-path: url(#SVGID_280_);
}

.st391 {
	clip-path: url(#SVGID_282_);
}

.st392 {
	clip-path: url(#SVGID_284_);
}

.st393 {
	clip-path: url(#SVGID_286_);
}

.st394 {
	clip-path: url(#SVGID_288_);
}

.st395 {
	clip-path: url(#SVGID_290_);
}

.st396 {
	clip-path: url(#SVGID_292_);
}

.st397 {
	clip-path: url(#SVGID_294_);
}

.st398 {
	clip-path: url(#SVGID_296_);
}

.st399 {
	clip-path: url(#SVGID_298_);
}

.st400 {
	clip-path: url(#SVGID_300_);
}

.st401 {
	clip-path: url(#SVGID_302_);
}

.st402 {
	clip-path: url(#SVGID_304_);
}

.st403 {
	clip-path: url(#SVGID_306_);
}

.st404 {
	clip-path: url(#SVGID_308_);
}

.st405 {
	clip-path: url(#SVGID_310_);
}

.st406 {
	clip-path: url(#SVGID_312_);
}

.st407 {
	clip-path: url(#SVGID_314_);
}

.st408 {
	clip-path: url(#SVGID_316_);
}

.st409 {
	clip-path: url(#SVGID_318_);
}

.st410 {
	clip-path: url(#SVGID_320_);
}

.st411 {
	clip-path: url(#SVGID_322_);
}

.st412 {
	clip-path: url(#SVGID_324_);
}

.st413 {
	clip-path: url(#SVGID_326_);
}

.st414 {
	clip-path: url(#SVGID_328_);
}

.st415 {
	clip-path: url(#SVGID_330_);
}

.st416 {
	clip-path: url(#SVGID_332_);
}

.st417 {
	clip-path: url(#SVGID_334_);
}

.st418 {
	clip-path: url(#SVGID_337_);
}

.st419 {
	clip-path: url(#SVGID_340_);
}

.st420 {
	clip-path: url(#SVGID_342_);
}

.st421 {
	clip-path: url(#SVGID_344_);
}

.st422 {
	clip-path: url(#SVGID_346_);
}

.st423 {
	clip-path: url(#SVGID_348_);
}

.st424 {
	clip-path: url(#SVGID_350_);
}

.st425 {
	clip-path: url(#SVGID_352_);
}

.st426 {
	clip-path: url(#SVGID_354_);
}

.st427 {
	clip-path: url(#SVGID_356_);
}

.st428 {
	clip-path: url(#SVGID_358_);
}

.st429 {
	clip-path: url(#SVGID_360_);
}

.st430 {
	clip-path: url(#SVGID_362_);
}

.st431 {
	clip-path: url(#SVGID_364_);
}

.st432 {
	clip-path: url(#SVGID_366_);
}

.st433 {
	clip-path: url(#SVGID_368_);
}

.st434 {
	clip-path: url(#SVGID_370_);
}

.st435 {
	clip-path: url(#SVGID_372_);
}

.st436 {
	clip-path: url(#SVGID_374_);
}

.st437 {
	clip-path: url(#SVGID_376_);
}

.st438 {
	clip-path: url(#SVGID_378_);
}

.st439 {
	fill: #0065AD;
}

.st440 {
	fill: #ED7203;
}

.st441 {
	fill: #8A7D6B;
}

.st442 {
	fill: none;
}

.st443 {
	clip-path: url(#SVGID_380_);
}

.st444 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #A2DADB;
}

.st445 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #28903B;
}

.st446 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #CBDB2A;
}

.st447 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFC20E;
}

.st448 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F58220;
}

.st449 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #A1DBE4;
}

.st450 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #B4DDBF;
}

.st451 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #0AA245;
}

.st452 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FACAD5;
}

.st453 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #65B6CD;
}

.st454 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFE4AF;
}

.st455 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #026594;
}

.st456 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #00AEEF;
}

.st457 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #BCE4E5;
}

.st458 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ED1C24;
}

.st459 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F7941D;
}

.st460 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #C1272D;
}

.st461 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F26522;
}

.st462 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFF200;
}

.st463 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FDC578;
}

.st464 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #E49F15;
}

.st465 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #BD1A8D;
}

.st466 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #EC008C;
}

.st467 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F173AC;
}

.st468 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F9CBDF;
}

.st468a {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F173AC;
}

.st469a {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #F9CBDF;
}

.st469 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_381_);
}

.st470 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_382_);
}

.st471 {
	opacity: 0.8;
	fill: url(#SVGID_383_);
	enable-background: new;
}

.st472 {
	fill: #0A8074;
}

.st473 {
	fill: #2C3946;
}

.st474 {
	fill: #008D8D;
}

.st475 {
	fill: #CBCED4;
}

.st476 {
	fill: #009F61;
}

.st477 {
	fill: #FDC965;
}

.st478 {
	fill: #00609C;
}

.st479 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_384_);
}

.st480 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_385_);
}

.st481 {
	opacity: 0.8;
	fill: url(#SVGID_386_);
	enable-background: new;
}

.st482 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_387_);
}

.st483 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_388_);
}

.st484 {
	opacity: 0.8;
	fill: url(#SVGID_389_);
	enable-background: new;
}

.st485 {
	fill: #0089FF;
}

.st486 {
	fill: #FFD900;
}

.st487 {
	fill: url(#SVGID_390_);
}

.st488 {
	fill: url(#SVGID_391_);
}

.st489 {
	fill: #00E100;
}

.st490 {
	clip-path: url(#SVGID_393_);
}

.st491 {
	clip-path: url(#SVGID_395_);
}

.st492 {
	clip-path: url(#SVGID_397_);
}

.st493 {
	clip-path: url(#SVGID_399_);
}

.st494 {
	clip-path: url(#SVGID_401_);
	fill: #FFFFFF;
}

.st495 {
	clip-path: url(#SVGID_403_);
	fill: #FFFFFF;
}

.st496 {
	clip-path: url(#SVGID_405_);
	fill: #FFFFFF;
}

.st497 {
	clip-path: url(#SVGID_407_);
	fill: #FFFFFF;
}

.st498 {
	clip-path: url(#SVGID_409_);
	fill: #FFFFFF;
}

.st499 {
	clip-path: url(#SVGID_411_);
	fill: #FFFFFF;
}

.st500 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_412_);
}

.st501 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_413_);
}

.st502 {
	opacity: 0.8;
	fill: url(#SVGID_414_);
	enable-background: new;
}

.st503 {
	clip-path: url(#SVGID_418_);
}

.st504 {
	clip-path: url(#SVGID_420_);
}

.st505 {
	clip-path: url(#SVGID_422_);
}

.st506 {
	clip-path: url(#SVGID_424_);
}

.st507 {
	clip-path: url(#SVGID_426_);
	fill: #0089FF;
}

.st508 {
	clip-path: url(#SVGID_428_);
	fill: #0089FF;
}

.st509 {
	clip-path: url(#SVGID_430_);
	fill: #0089FF;
}

.st510 {
	clip-path: url(#SVGID_432_);
	fill: #0089FF;
}

.st511 {
	clip-path: url(#SVGID_434_);
	fill: #0089FF;
}

.st512 {
	clip-path: url(#SVGID_436_);
	fill: #0089FF;
}

.st513 {
	fill: #E2B594;
}

.st514 {
	fill: #E8B68F;
}

.st515 {
	fill: #2BAFA8;
}

.st516 {
	fill: #D8A988;
}

.st517 {
	fill: #36443F;
}

.st518 {
	fill: #283032;
}

.st519 {
	fill: #D2D2DD;
}

.st520 {
	fill: #EE2E5D;
}

.st521 {
	fill: #E8E8E8;
}

.st522 {
	clip-path: url(#SVGID_438_);
	enable-background: new;
}

.st523 {
	clip-path: url(#SVGID_440_);
	enable-background: new;
}

.st524 {
	clip-path: url(#SVGID_442_);
	enable-background: new;
}

.st525 {
	clip-path: url(#SVGID_444_);
	enable-background: new;
}

.st526 {
	clip-path: url(#SVGID_446_);
	enable-background: new;
}

.st527 {
	clip-path: url(#SVGID_448_);
	enable-background: new;
}

.st528 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_449_);
}

.st529 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_450_);
}

.st530 {
	opacity: 0.8;
	fill: url(#SVGID_451_);
	enable-background: new;
}

.st531 {
	fill: #ED2E5C;
}

.st532 {
	fill: #004A8F;
}

.st533 {
	fill: #F47920;
}

.st534 {
	fill: #B2B4B8;
}

.st535 {
	fill: #FFF200;
}

.st536 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_452_);
}

.st537 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_453_);
}

.st538 {
	opacity: 0.8;
	fill: url(#SVGID_454_);
	enable-background: new;
}

.st539 {
	fill: #798084;
}

.st540 {
	fill: #113F6C;
}

.st541 {
	fill: #F6A41E;
}

.st542 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_455_);
}

.st543 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_456_);
}

.st544 {
	opacity: 0.8;
	fill: url(#SVGID_457_);
	enable-background: new;
}

.st545 {
	fill: #123F6D;
}

.st546 {
	fill: #FAA61A;
}

.st547 {
	fill: #28ACD8;
}

.st548 {
	fill: #172038;
}

.st549 {
	fill: #ECF6FB;
}

.st550 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_458_);
}

.st551 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_459_);
}

.st552 {
	opacity: 0.8;
	fill: url(#SVGID_460_);
	enable-background: new;
}

.st553 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_461_);
}

.st554 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_462_);
}

.st555 {
	opacity: 0.8;
	fill: url(#SVGID_463_);
	enable-background: new;
}

.st556 {
	clip-path: url(#SVGID_465_);
	fill: url(#SVGID_466_);
}

.st556a {
	clip-path: url(#SVGID_468a_);
	fill: url(#SVGID_469a_);
}

.st557 {
	clip-path: url(#SVGID_468_);
	fill: url(#SVGID_469_);
}

.st558 {
	clip-path: url(#SVGID_471_);
	fill: url(#SVGID_472_);
}

.st559 {
	clip-path: url(#SVGID_474_);
	fill: url(#SVGID_475_);
}

.st560 {
	clip-path: url(#SVGID_477_);
	fill: url(#SVGID_478_);
}

.st561 {
	fill: #1B4379;
}

.st562 {
	clip-path: url(#SVGID_480_);
	fill: url(#SVGID_481_);
}

.st563 {
	fill: #4EBBC0;
}

.st564 {
	fill: #474144;
}

.st565 {
	fill: #00A9A2;
}

.st566 {
	fill: #3B366F;
}

.st567 {
	fill: #007DC1;
}

.st568 {
	clip-path: url(#SVGID_483_);
	fill: #FFFFFF;
}

.st569 {
	clip-path: url(#SVGID_485_);
	fill: #FFFFFF;
}

.st570 {
	clip-path: url(#SVGID_487_);
	fill: #FFFFFF;
}

.st571 {
	clip-path: url(#SVGID_489_);
	fill: #FFFFFF;
}

.st572 {
	clip-path: url(#SVGID_491_);
	fill: #FFFFFF;
}

.st573 {
	clip-path: url(#SVGID_493_);
	fill: #FFFFFF;
}

.astronautIcon {
	animation: astronautMoves 15s infinite;
	
}

@keyframes astronautMoves {
	0%,
	100% {
		transform: translateY(6px);
	}
	50% {
		transform: translateY(-6px);
	}
	
}

.svgSVWC {
	@media screen and (min-width: 1100px) {
		padding: 140px 0 0 75px;
		
	}
	
}

.mapSVWCMobile {
	@media screen and (min-width: 768px) {
		display: none;
		
	}
	
}

.mapSVWCTablet {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		
	}
	
}
