<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente, <a [routerLink]="['/login']">ingresa aqui.</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Error al registrarse. Reintenta mas tarde.
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Nome</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched" >O nome é obrigatório!</span>
        </p>
        <p>
            <label>Sobrenome</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched" >O sobrenome é obrigatório!</span>
        </p>
        <p>
            <label>Apelido (Nome Crachá)</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
            <span *ngIf="!nick.valid && nick.touched" >O Apelido é obrigatório!</span>
        </p>
        <p>
            <label>Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.valid && email.touched" >O email não é válido!</span>
        </p>
        <p>
            <label>Senha</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched" >A senha é obrigatória!</span>
        </p>
        <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>
</div>
