<div class="grid-container">
    <div class="grid-container-item" *ngFor="let item of rankingList; let i=index">
        <div class="grid-ranking">
            <div class="grid-item-user align-items-center">
                <div class="flex-item-img">
                    <fa-icon [icon]="faUserCircle" size="3x"></fa-icon>
                </div>
                <div class="flex-item-info">
                    <span>laura</span><br>
                    <span>laura</span><br>
                    <span>laura</span>
                </div>
            </div>
            <div class="grid-item-position">
                <span>{{i+1}}º</span>
            </div>
        </div>
    </div>
</div>