<div id="bg">
    <img src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png" alt="" />
</div>
<div class="retangulo-2">
    <div class="text-center">
        <span>Seja Bem-vindo!</span>
        <svg-icon class="close icon-close" [svgStyle]="{ 'width.px':20 }"
            src="assets/concafras2021/concafronas/icones/fechar.svg" (click)="back()"></svg-icon>
    </div>
    <!-- <div class="text-about">
      <span>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      </span>
      </div> -->
    <!-- <iframe
        width="480"
        height="315"
        src=""
        style="background-color: black;"
      >
      </iframe> -->

    <div style="margin: 10px 0px;">
        <div class="text-center">
            <span>Vídeo de Boas Vindas</span>
        </div>
        <app-videojs [vContent]="actualContent"></app-videojs>
    </div>

    <div>
        <input type="button" (click)="goToEvent()" value="Ir para o evento" class="btn btn-primary btn-sm btn-about" />
    </div>
</div>