<div class="col-lg-4">
    <h3>
        {{title}}
    </h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['heroes/dashboard']">Dashboard</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['heroes/list']">Lista</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>
