<div class="cantinho-historia">
    
    <img class="fundo" id="fundo" src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoriaInterior.jpg">
    <img class="btn-voltar" id="circo" src="assets/concafras2021/concafrinhas/btn-voltar.png" usemap="#image-map-btn-voltar">
    <map name="image-map-btn-voltar">
        <area target="" alt="Voltar" title="Voltar" href="/concafrinhas/home" shape="default">
    </map>
    

    <img class="hst01 buttons" id="hst01" src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst01.png" usemap="#image-map-hst01">

    <map name="image-map-hst01">
        <area target="" alt="Onde foi morar a vovó?" title="Onde foi morar a vovó?" href="/concafrinhas/audithorium" shape="default">
    </map>
    

</div>