<div class="laborterapias">

    <div class="container-total">

        <a href="/concafrinhas/atividades">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png"
                title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png"
                title="Circo">
        </a>

        <div class="lista-opcoes">

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv01.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv02.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv03.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv04.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv05.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv06.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv07.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv08.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv09.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv10.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/Laborterapia-atv11.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Atividades/Laborterapia/LaborterapiaInterior.jpg">

    </div>

</div>