<div class="my-padlet-embed">
    <p>
        <iframe src="https://padlet.com/embed/4jtck3x2n0x4nxn8" frameborder="0"
            allow="camera; microphone; geolocation"></iframe>
    </p>
</div>


<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">

    <div class="modal-content-video">
        <div class="modal-body">
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="video-container">
                <img class="tutorial" src="assets/concafras2021/concafrinhas/post-tutorial.jpg">
                <div>
                    <button type="button" class="btn btn-primary" style="float: right;" (click)="hideModal()">Entendi</button>
                </div>
            </div>

        </div>
    </div>

</div>