<section id="audithorium-special-header" class="audithorium-special-container">
    <h2 class="audithorium-special-header-item audithorium-special-header-title">Página título</h2>
    <div class="audithorium-special-header-item audithorium-special-header-div-info">
        <span class="audithorium-special-header-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam sapiente eos non aut sunt odit obcaecati dolorum nostrum! Nesciunt odit dolore unde deleniti debitis inventore vitae minima obcaecati ullam modi.</span>
        <a [routerLink]="" href="{{ pageTarget }}" target="_blank" class="btn btn-primary btn-info">Obter maiores informações</a>
    </div>
</section>
<section id="audithorium-special-content" class="audithorium-special-container"></section>
