.circo {
    height: 100%;
}

.container-total {
    overflow: hidden;
    position: relative;
    padding: 0;
} 

.circo .porta1 {
    width: 29.9%;
    top: 22%;
    left: 2%;
}
.circo .porta2 {
    width: 29.9%;
    top: 22%;
    left: 35%;
}

.circo .porta3 {
    width: 29.9%;
    top: 22%;
    right: 2%;
}

.buttons {
    height: auto;
    position: absolute;
    z-index: 1;
    display: block;
}

.botao:hover {
    filter: drop-shadow(0px 0px 25px #FFF82E);
}

img {
    max-width: 100%;
    height: auto;
}

.btn-voltar {
    width: 7%;
    max-height: 124px;
    top: 2%;
    right: 2%;
}

.principal {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}



.video-container {
    position: relative;
    overflow: hidden;
}

.modal-body iframe {
    border: 0;
    box-shadow: inherit;
    width: 800px;
    height: 500px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
}

.modal-content-video {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    background-color: #d7963a;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 0);
}

button.close {
    position: absolute;
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    right: 0px;
    color: white;
    top: 0px;
    opacity: 1;
    outline: none;
    
    display: flex;
    align-items: center;
}

button.close span {
    position: absolute; 
    top: 5px; 
    right: 10px;
}

.modal-body {
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

/* Large Devices */
@media only screen and (max-width:1000px) { 
    .modal-body iframe {
        width: 690px;
        height: 420px;
    }

    h4 {
        font-size: 20px;
    }

    .modal-header {
        padding: 10px 10px 10px 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width:768px) {
    .modal-body iframe {
        width: 560px;
        height: 250px;
    }
    
    h4 {
        font-size: 17px;
    }
    
    .modal-header {
        padding: 10px 10px 5px 10px;
    }
}