<div class="circo">

    <div class="container-total">

        <a href="/concafrinhas/home">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="porta1 buttons" src="assets/concafras2021/concafrinhas/Circo/CircoAberturaConcafrinhas.png"
                title="Tema Central">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="porta2 buttons" src="assets/concafras2021/concafrinhas/Circo/CircoFestivalArtes.png"
                title="Oficina de Arte">
        </a>

        <a href="https://padlet.com/concafrinhasvirtual2021/Bookmarks" target="_blank" rel="noopener noreferrer">
            <img class="porta3 buttons" src="assets/concafras2021/concafrinhas/Circo/CircoMuralArtes.png"
                title="Tema Especifico">
        </a>

        <img class="principal" src="assets/concafras2021/concafrinhas/Circo/CircoInterior.jpg">

    </div>

</div>