<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-md-3">
            <h2>{{title}}</h2>
        </div>

        <div class="col-md-6">
            <div class="input-group h2" *ngIf="false">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-3 text-right">
            <a [routerLink]="['/admin/xps/add']" class="btn btn-success pull-right h2">Novo Item</a>
        </div>
    </div> <!-- /#top -->

    <hr />
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Missão</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-xp" *ngFor="let xp of xps">
                        <td>{{xp?.user?.name }}</td>
                        <td>{{xp?.mission?.name}}</td>
                        <td class="actions">
                            <a class="btn btn-warning btn-xs" [routerLink]="['/admin/xps/edit', xp._id]">Editar</a>
                            <a class="btn btn-danger btn-xs" (click)="canDeleteXps(xp)">Excluir</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12" *ngIf="pages.length > 1">
            <ul class="pagination">
                <li [class.disabled]="page == 1">
                    <a [routerLink]="['/admin/xps/list', page - 1]" [routerLinkActive]="['active']">&lt; Anterior</a>
                </li>
                <li [class.disabled]="p == page" *ngFor="let p of pages">
                    <a [routerLink]="['/admin/xps/list', p]" [routerLinkActive]="['active']">{{ p }}</a>
                </li>
                <li [class.disabled]="page == pages.length" class="next">
                    <a [routerLink]="['/admin/xps/list', page + 1]" [routerLinkActive]="['active']" rel="next">Próximo
                        &gt;</a>
                </li>
            </ul>
        </div>
        <!-- /.pagination -->
    </div> <!-- /#bottom -->
</div>

<div class="clearfix"></div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>