<div class="parquinho">

    <div class="container-total">

        <a href="/concafrinhas/home">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <a href="/concafrinhas/parquinho/jogos-digitais">
            <img class="jogos buttons" src="assets/concafras2021/concafrinhas/Parquinho/ParquinhoJogosDigitais.png"
                title="Jogos Digitais">
        </a>

        <a href="/concafrinhas/parquinho/brincadeiras">
            <img class="brincadeiras buttons" src="assets/concafras2021/concafrinhas/Parquinho/ParquinhoBrincadeiras.png"
                title="Brincadeiras">
        </a>

        <img class="principal" src="assets/concafras2021/concafrinhas/Parquinho/ParquinhoInterior.jpg">

    </div>

</div>