<div id="bg">
  <img
    src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png"
    alt=""
  />
</div>
<div class="retangulo-2">
    <p>Você tem {{ subscriptions.length }} inscrições!</p>
    <a
      class="btn btn-primary btn-sm btn-conference"
      role="button"
      [routerLink]="['/select-journey']"
      [routerLinkActive]="['active']">Acessar Evento<br>(Link Temporário)</a>
    <!-- COMENTEI PARA A APRESENTAÇÃO DO DIA 23/01 -->
    <a
      class="btn btn-primary btn-sm btn-conference"
      role="button"
      [routerLink]="['/admin']"
      [routerLinkActive]="['active']">Accessar Admin</a>
</div>

