<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Dados atualizados com sucesso!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Erro ao atualizar os dados.
    </div>
    <form #trailEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <div class="row">
            <div class="form-group col-md-12">
                <label>Nome</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="trail.name" class="form-control" required />
                <span *ngIf="!name.value && name.touched" >O nome é obrigatório!</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Descrição</label>
                <input type="text" name="description" #description="ngModel" [(ngModel)]="trail.description" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Assunto</label>
                <input type="text" name="subject" #subject="ngModel" [(ngModel)]="trail.subject" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <fieldset class="form-group">
                    <label>Tipo</label>
                    <select [compareWith]="compareByOptionId" name="tipo" #type="ngModel" [(ngModel)]="trail.type" class="form-control">
                        <option value="">-- Selecione --</option>
                        <option value="especifico">Específico</option>
                        <option value="atual">Atual</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <fieldset class="form-group">
                    <label>Evento</label>
                    <select [compareWith]="compareByOptionId" name="epic" #conference="ngModel" [(ngModel)]="trail.epic" class="form-control">
                        <option value="">-- Selecione --</option>
                        <option *ngFor="let epic of epics" [ngValue]="epic">{{epic.name}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <fieldset class="form-group">
                    <h4>Momento 1</h4>
                    <app-classroom-edit *ngIf="momentOne._id" [(classroom)]="momentOne"></app-classroom-edit>
                    <app-classroom-add *ngIf="!momentOne._id" [(classroom)]="momentOne"></app-classroom-add>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <fieldset class="form-group">
                    <h4>Momento 2</h4>
                    <app-classroom-edit *ngIf="momentTwo._id" [(classroom)]="momentTwo"></app-classroom-edit>
                    <app-classroom-add *ngIf="!momentTwo._id" [(classroom)]="momentTwo"></app-classroom-add>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Adicionar cursos práticos?</label>
                <button class="btn btn-success" type="button" (click)="addClassroom()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row"*ngFor="let classroom of trail.classrooms; let i=index; trackBy: trackByFn">
            <div class="form-group col-md-12">
                <fieldset class="form-group">
                    <label>Curso prático {{i+1}}</label>
                    <button class="btn btn-danger" type="button" (click)="removeClassroom(i)"><i class="fa fa-trash"></i></button>
                    <app-classroom-add [(classroom)]="trail.classrooms[i]"></app-classroom-add>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!trailEditForm.form.valid" />
            </div>
        </div>
        <br/>
        <br/>
    </form>
</div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>