<div class="cantinho-historia">

    <div class="container-total">

        <a href="/concafrinhas/home">
            <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <div class="lista-opcoes">

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst01.png"
                    (click)="openModal(template01)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst02.png"
                    (click)="openModal(template02)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst03.png"
                    (click)="openModal(template03)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst04.png"
                    (click)="openModal(template04)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst05.png"
                    (click)="openModal(template05)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst06.png"
                    (click)="openModal(template06)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst07.png"
                    (click)="openModal(template07)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst08.png"
                    (click)="openModal(template08)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst09.png"
                    (click)="openModal(template09)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst10.png"
                    (click)="openModal(template10)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst11.png"
                    (click)="openModal(template11)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst12.png"
                    (click)="openModal(template12)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst13.png"
                    (click)="openModal(template13)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst14.png"
                    (click)="openModal(template14)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst15.png"
                    (click)="openModal(template15)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst16.png"
                    (click)="openModal(template16)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst17.png"
                    (click)="openModal(template17)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst18.png"
                    (click)="openModal(template18)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst19.png"
                    (click)="openModal(template19)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst20.png"
                    (click)="openModal(template20)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst21.png"
                    (click)="openModal(template21)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst22.png"
                    (click)="openModal(template22)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst23.png"
                    (click)="openModal(template23)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst24.png"
                    (click)="openModal(template24)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst25.png"
                    (click)="openModal(template25)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst26.png"
                    (click)="openModal(template26)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst27.png"
                    (click)="openModal(template27)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst28.png"
                    (click)="openModal(template28)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst29.png"
                    (click)="openModal(template29)">
            </div>

            <div class="item botao">
                <img src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoria-hst30.png"
                    (click)="openModal(template30)">
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Historinhas/CantinhoHistoriaInterior.jpg">

    </div>

</div>


<ng-template #template01>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Onde foi morar a vovó?</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/BeDUzAoALz8" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template02>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O gereral do amor</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/8aanw7QoEBk" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template03>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O jacaré arrependido</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/eO55AGfKWhk" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template04>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O menino que não queria ser criança</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/L1QEiFYsDCY" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template05>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A proteção de uma casa</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/snMPLncSNjg" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template06>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Canildo</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/MVLobqcdzJA" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template07>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O tesouro de Pedrinho</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/Bq3AGN9CAH8" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template08>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A princesinha Eloá</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/K90lw6-MPNM" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template09>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Generosas mãos</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/CiRLnorKtxk" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template10>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Amigas para sempre</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/fU1e_BN42l0" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template11>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Nico, o elefantinho sem tromba</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/iItRAJn5uNI" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template12>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A história de Genaro</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/3GPv6zYqlZ4" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template13>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A Campanha de Fraternidade Auta de Souza</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/IzS5D6Rn72c" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template14>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A cura do cego de nascença</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/QTENMAgxozE" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template15>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A parábola do semeador</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/b5wts3DNWlA" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template16>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O nascimento de Jesus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ej4br7U6ZLA" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template17>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O corpinho de Jesus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/GCjw7ekZOGw" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template18>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus e o cuidado do corpinho</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ZV7u-ruhJhU" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template19>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus, com seu corpinho, ajudava as pessoas</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/6bGjxBDjX3s" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template20>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">A família de Jesus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/u_5Et9By_QU" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template21>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Maria, a Mãe Santíssima</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/Ah8yTxkWcIc" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template22>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">José, o Papai de Jesus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/cIF--EZVbas" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template23>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus nos ensina a amarmos os nossos irmãos</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/8eeyo1abmhE" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template24>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus nos ensina a sermos bons amigos</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/0GW9f1zW8iQ" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template25>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus nos ensina a amar os animais</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/sDpgeEF8zjY" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template26>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus nos ensina a conversar com Deus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/GbcNSXmzrcU" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template27>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus nos ensina que a morte não existe</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ttbpZA9VT_E" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template28>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus, o Governador da Terra</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/FvXNDyqiESw" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template29>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O Sermão do Monte</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/POOpi8KI164" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template30>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus, a Luz do Mundo</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/vXXw7VWElZY" frameborder="0"
                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</ng-template>