<div class="dialogo" *ngIf="dialog == 'inicial'">
  <p class="text-left">Olá, eu sou o Luiz Sérgio e juntos vamos interagir com muita Arte aqui na Catedral do Som! Vamos
    começar? Selecione uma das opções abaixo:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a [routerLink]="['/jovem/ilha-som/dialogo/oficinas']" [routerLinkActive]="['active']">Oficinas</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/alegria-crista']" [routerLinkActive]="['active']">Alegria cristã</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/mural-artistico']" [routerLinkActive]="['active']">Mural Artístico</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/ilha-som/dialogo/arte-e-espiritismo']" [routerLinkActive]="['active']">Curiosidades Artísticas</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Sair da Ilha</a></li>
  </ul>
</div>

<div class="dialogo" *ngIf="dialog == 'oficinas'">
  <p class="text-left">Qual oficina você deseja acessar?</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Lista das Oficinas</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/ilha-som/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
  </ul>
</div>

<div class="dialogo" *ngIf="dialog == 'arte-e-espiritismo'">
  <p class="text-left">Qual curiosidade artística você deseja acessar?</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Lista dos textos</a></li>
    <li class="list-group-item"><a [routerLink]="['/jovem/ilha-som/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
  </ul>
</div>