<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col text-center">
            <ul>
                <li *ngFor="let schedule of schedules">
                    {{schedule.start_time | date:'dd/MM/yyyy' }} - {{schedule.start_time | date:'HH:mm' }} - {{schedule.end_time | date:'HH:mm' }} - {{schedule.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>