<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div *ngFor="let group of groupSchedules; let i = index">
            <div class="card" style="width: 100%">
              <div class="card-header">dia {{ i + 1 }} - {{ group.day }}</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let schedule of group.schedule">
                  {{ schedule.name }}
                  {{ schedule.start_time | date: "HH:mm" }} -
                  {{ schedule.end_time | date: "HH:mm" }}
                </li>
              </ul>
            </div>
          </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>