.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img-acessibilidade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}