<div class="row">
  <div class="col-lg-12">
    <h2>Programação</h2>

    <div *ngFor="let group of groupSchedules; let i = index">
      <div class="card" style="width: 100%">
        <div class="card-header">dia {{ i + 1 }} - {{ group.day }}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let schedule of group.schedule">
            {{ schedule.name }}
            {{ schedule.start_time | date: "HH:mm" }} -
            {{ schedule.end_time | date: "HH:mm" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
