<div class="col-lg-8 col-lg-offset-2">
    <div id="center">
        <h1>{{ title }}</h1>
        <p>
            Monte a sua trilha do conhecimento! Escolha os tipos de conteúdo que deseja subir:
            <!-- <a class="btn btn-primary btn-conteudoplus" (click)="changeFlag('especifico')" role="button">+</a> -->
        </p>        
        <div class="formConteudo">
            <!-- SELECT DINÂMICO -->
            <div class="divCorpoSelect">
                <select class="form-control selectConteudo" (change)="submitType($event.target.value)">
                    <option>Tipo do conteúdo</option>
                    <option *ngFor="let type of types" value="{{ type.split(':')[0] }}">{{ type.split(':')[1] }}</option>
                </select>
            </div>
            <form>
                <form-group-conteudo *ngFor="let content of contents" [content]="content"></form-group-conteudo>
            </form>
        </div>
    </div>
</div>  

<!-- <div class="form-group row">
    <label for="inputLinkVideo" class="col-sm-2 col-form-label">Link Video</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputLinkVideo" placeholder="URL do vídeo (Youtube / Vimeo)">
    </div>
</div>
<div class="form-group row">
    <label for="inputUploadImage" class="col-sm-2 col-form-label">Imagem</label>
    <div class="col-sm-10">
        <input type="file" class="form-control-file" id="inputUploadImage">
    </div>
</div>
<div class="form-group row">
    <label for="inputUploadFile" class="col-sm-2 col-form-label">PDF / DOC</label>
    <div class="col-sm-10">
        <input type="file" class="form-control-file" id="inputUploadFile">
    </div>
</div>
<div class="form-group row">
    <label for="inputLinkExterno" class="col-sm-2 col-form-label" style="vertical-align: middle;">Link Externo</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputLinkExterno" placeholder="Link de conteúdo externo (Jogo, site, etc..)">
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-success btn-enviar">Enviar</button>
    </div>
</div> -->