<section class="container">
    <div class="row">
        <div class="col-12 col-md-10 embed-responsive embed-responsive-16by9">
            <iframe id="MyVideo" class="embed-responsive-item" src="https://www.youtube.com/embed/-gAw_W4uzho" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6 col-md-2">
            <div id="carouselControlsRecentMessage" class="carousel slide caravan-carousel-recent" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselControlsRecentMessage" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselControlsRecentMessage" data-slide-to="1"></li>
                    <li data-target="#carouselControlsRecentMessage" data-slide-to="2"></li>
                </ol>
                <div id="carousel-recent-messages" class="carousel-inner">
                    <div class="carousel-item card-height active">

                                <div class="card">
                                    <img src="https://img.youtube.com/vi/-gAw_W4uzho/sddefault.jpg" class="card-img-top sing-with-us-img" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Jingle Bells</h5>
                                        <p class="card-text">Música natalina.</p>
                                        <button type="button" class="btn btn-primary" value="Click" onclick ="playVideo('-gAw_W4uzho')">Play</button>
                                    </div>
                                </div>

                    </div>
                    <div class="carousel-item card-height">
                        <div class="row">

                                    <img src="https://img.youtube.com/vi/-gAw_W4uzho/sddefault.jpg" class="card-img-top sing-with-us-img" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">xxxxx</h5>
                                        <p class="card-text">Música natalina.</p>
                                        <a href="#" class="btn btn-primary">Play</a>
                                    </div>

                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControlsRecentMessage" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControlsRecentMessage" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>