<div class="brincadeiras">

    <div class="container-total">

        <a href="/concafrinhas/parquinho">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png"
                title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png"
                title="Circo">
        </a>

        <div class="lista-opcoes">

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv01.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv02.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv03.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv04.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv05.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv06.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv07.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv08.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv09.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv10.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv11.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/BrincadeirasInterior.jpg">

    </div>

</div>