<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top background-navbar" role="navigation">
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <app-left-sidebar></app-left-sidebar>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-principal">
            <div class="container-fluid dashboard-content ">
               <div class="principal-widget">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    
    <!-- right sidebar -->
    <!-- ============================================================== -->
    <app-right-sidebar></app-right-sidebar>
    <!-- ============================================================== -->
    <!-- end right sidebar -->
    
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!--footer class="navbar navbar-default navbar-fixed-bottom">
</footer-->
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->