<div class="cidade-concafrinhas">

    <div class="container-total">
        <a href="/concafrinhas/bom-samaritano" class="escola botoes" title="Bom Samaritano Infantil">
            <img src="assets/concafras2021/concafrinhas/Home/escola.png" />
        </a>

        <a href="/concafrinhas/parquinho" class="playground botoes" title="Parquinho">
            <img src="assets/concafras2021/concafrinhas/Home/playground.png" />
        </a>

        <a href="/concafrinhas/circo-concafrinhas" class="circo botoes" title="Circo Concafrinhas">
            <img src="assets/concafras2021/concafrinhas/Home/circo.png" />
        </a>

        <a href="/concafrinhas/casa-nvl-1" class="nivel1 botoes" title="Casa Nível 1">
            <img src="assets/concafras2021/concafrinhas/Home/nivel-1.png" />
        </a>

        <a href="/concafrinhas/casa-nvl-2" class="nivel2 botoes" title="Casa Nível 2">
            <img src="assets/concafras2021/concafrinhas/Home/nivel-2.png" />
        </a>

        <a href="/concafrinhas/atividades" class="laborterapia botoes" title="Atividades">
            <img src="assets/concafras2021/concafrinhas/Home/laborterapia.png" />
        </a>

        <a href="/concafrinhas/cantinho-historia" class="arvore botoes" title="Cantinho da História">
            <img src="assets/concafras2021/concafrinhas/Home/arvore.png" />
        </a>


        <a href="/concafrinhas/casa-oracao" class="rio botoes" title="Casa da Oração">
            <img src="assets/concafras2021/concafrinhas/Home/rio.png" />
        </a>


        <a href="/concafrinhas/roda-alegria" class="alegria botoes" title="Roda da Alegria Cristã">
            <img src="assets/concafras2021/concafrinhas/Home/alegria.png" />
        </a>

        <img src="assets/concafras2021/concafrinhas/Home/completo-2.png" class="principal" />

    </div>
</div>