<div class="home">
    
    <img class="fundo" id="fundo" src="assets/concafras2021/concafrinhas/back completo.png" usemap="#image-map">
    <img class="circo" id="circo" src="assets/concafras2021/concafrinhas/circo_concafrinhas.png" usemap="#image-map">
    <img class="atividades" id="atividades" src="assets/concafras2021/concafrinhas/atividades.png" usemap="#image-map">
    <img class="bom-samaritano" id="bom-samaritano" src="assets/concafras2021/concafrinhas/bom_samaritano.png" usemap="#image-map">
    <img class="casa-nvl-1" id="casa-nvl-1" src="assets/concafras2021/concafrinhas/casa_nivel_1.png" usemap="#image-map">
    <img class="casa-nvl-2" id="casa-nvl-2" src="assets/concafras2021/concafrinhas/casa_nivel_2.png" usemap="#image-map">
    <img class="cantinho-historia" id="cantinho-historia" src="assets/concafras2021/concafrinhas/cantinho_da_historia.png" usemap="#image-map">
    <img class="roda-alegria" id="roda-alegria" src="assets/concafras2021/concafrinhas/roda_alegria.png" usemap="#image-map">
    <img class="casa-oracao" id="casa-oracao" src="assets/concafras2021/concafrinhas/casa_oracao.png" usemap="#image-map">
    <img class="parquinho" id="parquinho" src="assets/concafras2021/concafrinhas/parquinho.png" usemap="#image-map-parquinho">


    <map name="image-map">
        <area target="" alt="Casa da Oracao" title="Casa da Oração" href="/concafrinhas/casa-oracao" shape="default">
        <area target="" alt="Parquinho" title="Parquinho" href="/concafrinhas/parquinho" shape="default">
        <area target="" alt="Cantinho da História" title="Cantinho da História" href="/concafrinhas/cantinho-historia" shape="default">
        <area target="" alt="Atividades" title="Atividades" href="/concafrinhas/atividades" shape="default">
        <area target="" alt="Casa Nível 1" title="Casa Nível 1" href="/concafrinhas/casa-nvl-1" shape="default">
        <area target="" alt="Casa Nível 2" title="Casa Nível 2" href="/concafrinhas/casa-nvl-2" shape="default">
        <area target="" alt="Roda da Alegria Cristã" title="Roda da Alegria Cristã" href="/concafrinhas/roda-alegria" shape="default">
        <area target="" alt="Bom Samaritano Infantil" title="Bom Samaritano Infantil" href="/concafrinhas/bom-samaritano" shape="default">
        <area target="" alt="Circo Concafrinhas" title="Circo Concafrinhas" href="/concafrinhas/circo-concafrinhas" shape="default">
    </map>
    

</div>