.container-total {
    overflow: hidden;
    position: relative;
    padding: 0;
}

.escola {
    width: 26.8%;
    right: 0%;
    top: 23%;
}

.playground {
    width: 43.8%;
    bottom: -2%;
    right: 2%;
    z-index: 2;
}

.circo {
    width: 35.15%;
    top: 4.5%;
    left: 29%;
}

.nivel1 {
    width: 22.15%;
    top: 36.5%;
    left: 18.5%;
}

.nivel2 {
    width: 20.33%;
    top: 37%;
    right: 22.5%;
}

.laborterapia {
    width: 7.8%;
    left: 12%;
    top: 30%;
}

.arvore {
    width: 14.16%;
    left: 1%;
    top: 42.5%;
}

.rio {
    width: 38.7%;
    left: -30px;
    bottom: -2%;
    z-index: 2;
}

.alegria {
    width: 18.2%;
    right: 0;
    top: 52.5%;
    z-index: 2;
}

.botoes {
    height: auto;
    position: absolute;
    z-index: 1;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-adulto {
    border-radius: 50px;
    top: 2%;
    left: 1%;
}




@media only screen and (min-width: 768px) { 
    .btn-primary.rotate {
        font-size: 30px;
    }

    .conteudo {
        margin-top: 30%;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.instrucaoRotate {
    width: 100%;
    height: 100%;
    background: #13A8C7;
    position: absolute;
    z-index: 5000;
}

.btn-primary.rotate {
    color: #13A8C7;
    background-color: white;
    border-color: white;
    border-radius: 50px;
    padding: 5px 40px 5px 40px;
/* 
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translate(50%, 50%); */
}

.img-instrucao {
    width: 60%;
    height: auto;
/* 
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%); */
}