<div class="instrucaoRotate" *ngIf="portrait">

  <div class="conteudo">

    <img class="img-instrucao" src="assets/concafras2021/concafrinhas/instrucao-rotate.png">

    <a class="btn btn-primary rotate" href="concafrinhas/home" role="button" style="margin-top: 20px;">Entrar</a>

  </div>

</div>


<div class="cidade-concafrinhas">

  <div class="container-total">

    <div class="position-absolute">
      <a class="btn btn-primary outros" (click)="logout()" role="button">Sair</a>
      <a class="btn btn-primary outros" (click)="gotoPrincipal(epic)" role="button">Ir para plataforma do Adulto</a>
    </div>

    <div *ngIf="accessAllowed">

      <a [routerLink]="'/concafrinhas/roda-alegria'" class="alegria botoes" title="Roda da Alegria Cristã"
        style="z-index: 100;">
        <img src="assets/concafras2021/concafrinhas/Home/alegria.png" />
      </a>

      <a [routerLink]="'/concafrinhas/parquinho'" class="playground botoes" title="Parquinho" style="z-index: 50;">
        <img src="assets/concafras2021/concafrinhas/Home/playground.png" usemap="#parquinhoFree" />
      </a>

      <a [routerLink]="'/concafrinhas/bom-samaritano'" class="escola botoes" title="Bom Samaritano Infantil">
        <img src="assets/concafras2021/concafrinhas/Home/escola.png" />
      </a>

      <a [routerLink]="'/concafrinhas/atividades'" class="laborterapia botoes" title="Atividades">
        <img src="assets/concafras2021/concafrinhas/Home/laborterapia.png" />
      </a>

      <a [routerLink]="'/concafrinhas/cantinho-historia'" class="arvore botoes" title="Cantinho da História">
        <img src="assets/concafras2021/concafrinhas/Home/arvore.png" />
      </a>

      <a [routerLink]="'/concafrinhas/casa-oracao'" class="rio botoes" title="Casa da Oração">
        <img src="assets/concafras2021/concafrinhas/Home/rio.png" />
      </a>
    </div>

    <div *ngIf="!accessAllowed">

      <div class="alegria botoes" title="Roda da Alegria Cristã" style="z-index: 100;">
        <img src="assets/concafras2021/concafrinhas/Home/alegria.png" (click)="openAlert()" />
      </div>

      <div class="playground botoes" title="Parquinho" style="z-index: 50;">
        <img src="assets/concafras2021/concafrinhas/Home/playground.png" (click)="openAlert()" />
      </div>

      <div class="escola botoes" title="Bom Samaritano Infantil">
        <img src="assets/concafras2021/concafrinhas/Home/escola.png" (click)="openAlert()" />
      </div>

      <div class="laborterapia botoes" title="Atividades">
        <img src="assets/concafras2021/concafrinhas/Home/laborterapia.png" (click)="openAlert()" />
      </div>

      <div class="arvore botoes" title="Cantinho da História">
        <img src="assets/concafras2021/concafrinhas/Home/arvore.png" (click)="openAlert()" />
      </div>

      <div class="rio botoes" title="Casa da Oração">
        <img src="assets/concafras2021/concafrinhas/Home/rio.png" (click)="openAlert()" />
      </div>

    </div>



    <a [routerLink]="'/concafrinhas/circo-concafrinhas'" class="circo botoes" title="Circo Concafrinhas">
      <img src="assets/concafras2021/concafrinhas/Home/circo.png" />
    </a>

    <a [routerLink]="'/concafrinhas/casa-nvl-1'" class="nivel1 botoes" title="Casa Nível 1">
      <img src="assets/concafras2021/concafrinhas/Home/nivel-1.png" />
    </a>

    <a [routerLink]="'/concafrinhas/casa-nvl-2'" class="nivel2 botoes" title="Casa Nível 2">
      <img src="assets/concafras2021/concafrinhas/Home/nivel-2.png" />
    </a>

    <div>
      <img src="assets/concafras2021/concafrinhas/Home/completo-2.png" />
    </div>

  </div>
</div>
