<div class="geral">
    <img src="assets/concafras2021/concafrinhas/circo_interna.png" usemap="#image-map">
    
    <map name="image-map">
        <area target="" alt="Abertura" title="Abertura" href="/concafrinhas/audithorium" coords="102,450,82,411,108,377,107,173,422,174,424,381,444,418,408,460" shape="poly">
        <area target="" alt="Pingo de Gente" title="Pingo de Gente" href="/concafrinhas/audithorium" coords="904,458,865,418,889,375,891,177,1207,177,1209,379,1225,414,1186,457" shape="poly">
    </map>
</div>
