<div class="row">
  <div class="col-sm-6">
    <h4>Total cadastrados</h4>
    <canvas
      baseChart
      [colors]="chartColors"
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
    ></canvas>
  </div>
  <div class="col-sm-6">
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
    ></canvas>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <canvas
      baseChart
      [datasets]="radarChartData"
      [labels]="radarChartLabels"
      [chartType]="radarChartType"
    ></canvas>
  </div>
  <div class="col-sm-6">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
