<div class="roda-alegria">
  <div class="container-total">
    <a [routerLink]="'/concafrinhas/home'">
      <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
        title="Voltar">
    </a>
    <div class="lista-opcoes">
      <div class="item botao" *ngFor="let lecture of lectures; let i = index">
        <img *ngIf="lecture.thumbnail" [src]="lecture.thumbnail.fileLink" (click)="goToAudithorium(i)">
        <img *ngIf="!lecture.thumbnail"
          src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv0{{ i + 1 }}.png"
          (click)="goToAudithorium(i)">
      </div>
    </div>
    <img class="principal" src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegriaInterior.jpg">
  </div>
</div>
