<div class="roda-alegria">

    <div class="container-total">

        <a href="/concafrinhas/home">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <div class="lista-opcoes">

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv01.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv02.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv03.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv04.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv05.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv06.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv07.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv08.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv09.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv10.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv11.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv12.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv13.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv14.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv15.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv16.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv17.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv18.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv19.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv20.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv21.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv22.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv23.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv24.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv25.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv26.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv27.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv28.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv29.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv30.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv31.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv32.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv33.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegria-atv34.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/RodaAlegria/RodaAlegriaInterior.jpg">

    </div>

</div>