<meta charset="UTF-8">
<div *ngIf="dialog == 'inicial'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <div class="MessageText">Olá {{userName}}, eu sou a Patrícia.</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Bem vindo(a) à Ilha da Casa do Escritor!</div>
      <div class="MessageDate">{{getTime(1)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">O que você deseja acessar?</div>
      <div class="MessageDate">{{getTime(2)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-escritor/dialogo/conhecendo']" [routerLinkActive]="['active']">Conhecendo a Casa do Escritor</a></li>
        <!--
        <li class="list-group-item" *ngFor="let trail of trails">
          <a [routerLink]="['/jovem/jovem-classroom/', 'Teórico', trail._id]" [routerLinkActive]="['active']">Tema Específico: {{trail.name}}</a>
        </li>
        -->
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-escritor/dialogo/temaespecifico']" [routerLinkActive]="['active']">Tema Específico</a></li>
        <li class="list-group-item" *ngFor="let stage of stages">
          <a *ngIf="stage.type.toLowerCase() === 'novas dimensões do conhecimento' || stage.type.toLowerCase() === 'novas dimensões'" [routerLink]="['/jovem/jovem-list/', stage._id]" [routerLinkActive]="['active']">Novas Dimensões do Conhecimento: {{stage.name}}</a>
          <a *ngIf="stage.type.toLowerCase() === 'ilha casa do escritor' && stage.activities.length > 1" [routerLink]="['/jovem/jovem-list/', stage._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
          <a *ngIf="stage.type.toLowerCase() === 'ilha casa do escritor' && stage.activities.length === 1" [routerLink]="['/jovem/audithorium/', 'activity', stage.activities[0]._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
        </li>
        <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Sair da Ilha</a></li>
        
      </ul>
      <div class="MessageDate">{{getTime(3)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>
   
<div *ngIf="dialog == 'conhecendo'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <div class="MessageText">Olá {{userName}}! Meu nome é Patrícia.</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Nasci em um lar espírita, e o Espiritismo me ajudou a entender diversas perguntas que eu tinha sobre a vida, e o mais legal de tudo: aprendi que ela não termina com a morte aqui na Terra.</div>
      <div class="MessageDate">{{getTime(1)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Eu desencarnei (morri) muito jovem e vim para o mundo espiritual. Aqui eu conheci diversas pessoas, lugares, e você está em um deles agora! Seja bem vindo(a) à ilha da Casa do Escritor!</div>
      <div class="MessageDate">{{getTime(2)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Tudo aqui foi inspirado no livro que psicografei pelas mãos da médium Vera Lúcia Marinzeck de Carvalho, relatando minhas experiências e conhecimentos recebidos na colônia espiritual A Casa do Escritor.</div>
      <div class="MessageDate">{{getTime(4)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <img class="MessageImage" src="/assets/jovem/img/A Casa do Escritor.jpg">
      <div class="MessageDate">{{getTime(7)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <div class="MessageText">Aqui, nesta Ilha, assim como na Colônia Espiritual, vamos entrar em contato com muitos conhecimentos valiosos para nossa alma e acessaremos os nossos cursos da CONCAFRAS, os jogos das Novas Dimensões do Conhecimento, os Lançamentos da Mocidade Espírita e muito mais! Legal, né?</div>
      <div class="MessageDate">{{getTime(9)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Ahh, você pode conhecer mais sobre a minha história e o sobre o mundo espiritual nos livros: "Violetas na janela", "Vivendo no mundo dos espíritos", "A casa do escritor" e "O vôo da gaivota", todos psicografados pela Vera. Te garanto que você vai adorar, {{userName}}!</div>
      <div class="MessageDate">{{getTime(11)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <img class="MessageImage" src="/assets/jovem/img/Violetas Na Janela.jpg">
      <img class="MessageImage" src="/assets/jovem/img/Vivendo no Mundo dos Espíritos.jpg">
      <img class="MessageImage" src="/assets/jovem/img/O Vôo da Gaivota.jpg">
      <div class="MessageDate">{{getTime(12)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-escritor/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
      </ul>
      <div class="MessageDate">{{getTime(13)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>


<div *ngIf="dialog == 'temaespecifico'">
  <div class="Space"></div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <div class="MessageText">{{userName}}, no momento da inscrição você escolheu um Curso, se lembra?</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">
        O curso escolhido por você é: 
        <div *ngFor="let trail of trails">
          <b>{{trail.name}}</b>. {{trail.description}}
        </div>
      </div>
      <div class="MessageDate">{{getTime(1)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Este curso compõe nosso quadro de Temas Específicos da CONCAFRAS!</div>
      <div class="MessageDate">{{getTime(3)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Estes temas são aulas com trocas de experiências em torno de aspectos doutrinários e metodológicos do trabalho no Centro Espírita em suas diversas áreas, tais como o trabalho de prática assistencial, reforma íntima, e aqueles realizados por você, jovem!</div>
      <div class="MessageDate">{{getTime(5)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">Sempre associado às aulas teóricas, haverá um momento de aplicação prática dos conhecimentos adquiridos.</div>
      <div class="MessageDate">{{getTime(6)}}</div>
    </div>
  </div>
  <div class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageText">{{userName}}, confira a programação dos momentos teóricos do seu Tema Específico abaixo! A programação dos momentos práticos pode ser encontrada na Ilha Casa do Caminho.</div>
      <div class="MessageDate">{{getTime(8)}}</div>
    </div>
  </div>
  <div class="Space"></div>
  <div class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <div *ngFor="let group of groupSchedules; let i = index">
        <div class="card" style="width: 100%">
          <div class="card-header" style="
              text-align: center;
              background-color: #273b87;
              text-align: center;
              color: white;
              font-weight: 500;
            ">
            Dia {{ i + 1 }} - {{ group.group }}
          </div>
          <ul class="list-group list-group-flush">
            <li style="display: block; padding: 1rem; color: #474747" *ngFor="let schedule of group.schedule, let i = index">
              <a href="#" data-toggle="modal" (click)="SelectContent(i)">
                <div style="float: left">
                  <div [tooltip]="schedule.description" placement="left">
                    {{ schedule.name }}
                  </div>
                  <div style="display: block">
                    <div style="float: left">
                      <span style="font-size: 0.8rem; color: #a2a2a2">{{
                        schedule.description
                        }}</span>
                    </div>
                    <div style="float: right">
                      <img style="margin-left: 5rem" src="assets/concafras2021/concafronas/icones/icone-closed-caption.svg" />
                      <img style="margin-left: 0.5rem" src="assets/concafras2021/concafronas/icones/libras.svg" />
                    </div>
                  </div>
                </div>
                <div style="float: right; font-weight: 500">
                  {{ schedule.start_time | date: "HH:mm" }} -
                  {{ schedule.end_time | date: "HH:mm" }}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/jovem/ilha-escritor/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
      </ul>
      <div class="MessageDate">{{getTime(9)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
  <div *ngIf="showSelect" class="Space"></div>
  <div *ngIf="showSelect" class="YourMessageLine">
    <div class="YourMessageItem">
      <div class="MessageAuthor">Patrícia</div>
      <div class="MessageText">{{userName}}, escolha abaixo como você quer assistir o curso selecionado.</div>
      <div class="MessageDate">{{getTime(0)}}</div>
      <div class="YourBubbleArrow"></div>
    </div>
  </div>
  <div *ngIf="showSelect" class="Space"></div>
  <div *ngIf="showSelect" class="MyMessageLine">
    <div class="MyMessageItem">
      <div class="MessageAuthor">{{userName}}</div>
      <ul class="list-group list-group-flush">
        <li *ngIf="zoomId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', zoomId]">Zoom</a></li>
        <li *ngIf="videoId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', videoId]">Vídeo</a></li>
        <li *ngIf="audioId" class="list-group-item"><a [routerLink]="['/jovem/audithorium/', 'content', audioId]">Áudio</a></li>
      </ul>
      <div class="MessageDate">{{getTime(1)}}</div>
      <div class="MyBubbleArrow"></div>
    </div>
  </div>
</div>

