
.dialogo p{
	color:#fff;
	font-size: 1.5rem;
}

.list-group-item{
	background-color: #fff0 !important;
	color:#fff;
	font-size: 1.2rem;
}

.list-group-item a{
	color:#fff;
	text-decoration: none;
}

.list-group-item a:hover{
	color:#fff;
	font-weight: 400;
}

.list-group-item:hover{
	background-color: #494a4ca6 !important;
	transition: 0.3s;
	cursor: url();
}

ul.list-group > li:hover:before {
  content: ">";
  padding: 5px;
}

@media (max-width: 768px) {
	.dialogo p{
		color:#fff;
		font-size: 1.2rem;
	}
	
	.list-group-item{
		background-color: #fff0 !important;
		color:#fff;
		font-size: 1rem;
	}
}