.list-group-item a{
	text-decoration: none;
	display: block;
}

.list-group li {
	background-color: #DCF8C6;
}

.list-group-item:hover a{
	color:#fff;
	font-weight: 400;
}

.list-group-item:hover{
	background-color: #494a4ca6 !important;
	transition: 0.3s;
	cursor: url();
}

.MyMessageLine {
	display: flex;
	justify-content: flex-end;
}

.YourMessageLine {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.MyMessageItem {
	background-color: #DCF8C6;
	border-radius: 6px;
	box-shadow: 0 1px 1px #CCC;
	display: flex;
	flex-direction: column;
	padding: 3px;
	max-width: 90%;
}

.YourMessageItem {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0 1px 1px #CCC;
	display: flex;
	flex-direction: column;
	padding: 3px;
	max-width: 90%;
}

.MessageAuthor {
	font-size: 1rem;
	margin: 5px 0px 0px 5px;
	color: turquoise;
}

.MessageText {
	font-size: 1rem;
	margin: 5px 40px 5px 5px;
}

.MessageImage {
	max-height: 400px;
}

.MessageDate {
	font-size: .9rem;
	color: #999;
	margin-right: 5px;
	text-align: right;
	height: 15px;
	margin-top: -15px;
	z-index: 100;
}