.menusuperio{
list-style:none;
border:1px solid #c0c0c0;
float:left;
}
/*hamburguer menu*/
*
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}

html, body
{
    height: 100%;
}

body
{
    margin: 0;
    background-color: #0e3577;
}

#webapp_cover
{
    position: relative;
    /*top: 50%;
    right: 0;
    left: 0;
    width: 39px;
    margin: 0 auto;*/
    /*transform: translateY(-50%) scale(2);*/
}

#menu_button
{
    width: 39px;
    overflow: hidden;
}

#sidebarCollapse
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #273B87;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    color: #273B87;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#sidebarCollapse:checked + #menu_label:before
{
    left: -39px;
}

#sidebarCollapse:checked + #menu_label:after
{
    left: 39px;
}

#sidebarCollapse:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}
/*final do hamburguer*/
.navbar-brand img {
  width: 15%;
  padding-right: 5px;
  white-space: nowrap;

}
.CONCAFRASVIRTUAL2021 {
  font-family: Poppins;
  font-size:1.2rem !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color:#273B87 !important;    
  background: none;
  border: none;

}

@media(max-width: 555px){
  .CONCAFRASVIRTUAL2021{
    display: none;
  }
}

.CONCAFRASVIRTUAL2021 .text-style-1 {
  font-style: italic;
  color: #1EA6EC;
}
.sidebar-icon {
  display: block;
  margin-bottom: 6px;
}
#sidebar img, p {
}

.list-unstyled img{
  width: 20%;
}

/*
    DEMO STYLE
    */




    body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
    }

    #sidebar p {
      font-family: 'Poppins', sans-serif;
      font-size: 0.8em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
    }

    a,
    a:hover,
    a:focus {
      text-decoration: none;
      transition: all 0.3s;
    }

    .navbar {
      /*padding: 15px 10px;*/
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

      border: none;
      border-radius: 0;
      margin-bottom: 10px;
      -webkit-box-shadow: 1px 1px 5px 2px #00000021;
      box-shadow: 1px 1px 5px 2px #00000021;
    }

    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }

    .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
    }


/* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */

    .html {
      height: 100%;
    }

    .body {
      height:100%;
    }

    .wrapper {
      display: flex;
      align-items: stretch;
      height: 100%;
    }

    #sidebar {
      width: 174px;
      max-width: 250px;
      background: #273b87;
      color: #fff;
      transition: all 0.3s;
      z-index: 100;
      height: 100%;
      margin: 5px;
      border-radius: 5px;
    }

    #sidebar a,
    #sidebar a:hover,
    #sidebar a:focus {
      color: inherit;
    }

    #sidebar.active_jovem {
      margin-left: -180px;
    }

    #sidebar .sidebar-header {
      padding: 20px 20px 0 20px;

    }

    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
      color: #fff;
    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }

    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
    }

    #sidebar ul li.active_jovem > a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
      position: relative;
    }

    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }

    a[aria-expanded="true"]::before {
      content: '\e260';
    }

    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }

    ul.CTAs {
      padding: 20px;
    }

    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    a.download {
      background: #fff;
      color: #7386D5;
    }

    a.article,
    a.article:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }


/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */

    #content {
      /*padding: 20px;*/
      width: 100%;
      min-height: 100vh;
      transition: all 0.3s;
      /*background-color: #273B87;
      background-position: center center;  
      background-size: cover;  
      background-repeat: no-repeat;*/



    }

    #content p a {
      color:
    }

    .container-fluid {
      height: calc(100% - 80px);
    }

    .row {
      height: 100%;
    }


/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
      #sidebar {
        margin-left: -180px;
      }
      #sidebar.active_jovem {
        margin-left: 0;
      }
      #sidebarCollapse span {
        /*display: none;*/
      }
    }