<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li class="text-center">
        <a class="nav-link text-center" [routerLink]="['/jovem/meus-dados']">
          <img *ngIf="user.image" [src]="user.image.fileLink" class="img-fluid rounded-circle px-4" />
          <fa-icon *ngIf="!user.image" [icon]="faUserCircle" class="sidebar-icon" size="4x"></fa-icon>
          <p >Bem vindo(a),<br/>{{identity.name}}!</p>
        </a>
      </li>

      <li class="text-center">
        <a class="nav-link text-center disabled" [routerLink]="">
          <img class="img-fluid" src="{{user.level.icon}}">
          <p>Nível {{user.level.badge}}<br/>{{this._gamificationService.getPoints() ? this._gamificationService.getPoints() : 0}} pontos</p>
        </a>
      </li>
      <li class="text-center">
        <a [routerLink]="['/jovem/home']">
          <img class="img-fluid" src="assets/concafras2021/concafronas/icones/home.svg">
          <p >Página inicial</p>
        </a>
      </li>
      <li class="text-center">
        <a href="#" data-toggle="modal" (click)="openProgramacaoComponent()">
          <img class="img-fluid" src="assets/jovem/icons/calendar.svg">
          <p >Programação</p>
        </a>
      </li>
      <li class="text-center">
        <a href="#" data-toggle="modal" (click)="openMagneticPassDistanceComponent()">
          <img class="img-fluid" src="assets/jovem/icons/maos.svg" >
          <p >Passe a distância</p>
        </a>
      </li>
      <li class="text-center">
        <a href="#" data-toggle="modal" (click)="openFraternalSupportComponent()">
          <img class="img-fluid" src="assets/jovem/icons/coracao.svg" >
          <p >Amparo Fraterno:<br/>Quer conversar?</p>
        </a>
      </li>
      <li class="text-center">
        <a [routerLink]="['/about']" data-toggle="modal" data-target="#navegar">
          <img class="img-fluid" src="assets/jovem/icons/duvida.svg" >
          <p>Como navegar</p>
        </a>
      </li>
      <li class="text-center">
        <a href="#" data-toggle="modal" (click)="openCloseFraternalSupportChat()">
          <img class="img-fluid" src="assets/concafras2021/concafronas/icones/duvidas-menu-item.svg" >
          <p>Dúvidas?</p>
        </a>
      </li>
      <li class="text-center">
        <a href="#" data-toggle="modal" (click)="logout()">
          <img class="img-fluid" src="assets/concafras2021/concafronas/icones/sair-menu-item.svg" >
          <p >Sair</p>
        </a>
      </li>
       <!-- <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">

          <div id="webapp_cover">
            <div id="menu_button">
              <input type="checkbox" id="sidebarCollapse" >
              <label for="sidebarCollapse" id="menu_label">
                <div id="menu_text_bar"></div>
              </label>
            </div>
          </div>


     <!-- <a type="" id="sidebarCollapse" >
          <i class="glyphicon glyphicon-align-left"></i>
          <span>Menu Lateral</span>
        </a>  -->
      </div>
      <!--
      <nav class="navbar background-navbar" role="navigation">
        <a [routerLink]="" class="back" *ngIf="this._navbarService.ButtonBackIsVisible()" (click)="back()">&lt;Voltar</a>
      </nav>
    -->

      <div class="navbar-brand CONCAFRASVIRTUAL2021">
        <img src="/assets/jovem/img/logoauta.svg" class="" alt="">
        <span>CONCAFRAS<span class="text-style-1">VIRTUAL</span>2021</span> 
      </div> 


    

    </div>
  </nav>
  <!-- início do conteúdoi -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-10 pl-md-0 pr-md-5 h-100"><router-outlet></router-outlet></div>
      <div class="col-6 col-md-4">

        <app-right-sidebar></app-right-sidebar>


      </div><!-- final Menu Direito -->
    </div>


    <!-- final do conteúdo -->
  </div>
</div>

<div class="fixed-div" [ngClass]="showChat ? '' : 'hide-container'">
  <div class="chat-container">
      <embed style="height: 100%; width: 100%;" src="https://tawk.to/chat/5ff34731c31c9117cb6b5dbb/1er74s6at">
  </div>
</div>