<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
	<div class="mx-auto" style="width: 200px;">
		<a class="navbar-brand CONCAFRASVIRTUAL2021" href="#">
			<img src="/assets/jovem/img/logoauta.svg" class="d-inline-block align-top" alt="">
			<span>CONCAFRAS<span class="text-style-1">VIRTUAL</span>2021</span> 
		</a>
	</div>
</nav>
<div class="menu">
    <img src="/assets/jovem/img/menu-desktop.png" style='height: 100%; width: 100%; object-fit: contain'/>
</div>
<div class="event-area">
    <router-outlet></router-outlet>
</div>
<div class="event-info">
    <img src="/assets/jovem/img/event-info.png" style='height: 100%; width: 100%; object-fit: contain'/>
</div>
<router-outlet></router-outlet>



