<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">

      <a class="nav-link" [routerLink]="['/jovem/home']" ><img class="img-fluid rounded-circle col mx-auto text-center" src="https://static.pingendo.com/img-placeholder-3.svg" width="50px" height="50px" > Bem vindo,<br/>{{identity.name}}!</a>
      
      <div class="" >
        <img src="assets/jovem/icons/terra.svg" >
        <p class="text-center" style="color: #fff;">Nível Terra <br>0 pontos</p>
      </div>

    </div>

    <ul class="list-unstyled components">
      <li class="text-center">
        <a href="">
          <img class="img-fluid" src="assets/jovem/icons/calendar.svg" >
          <p >Programação</p>
        </a>
      </li>
      <li class="text-center">
        <a [routerLink]="['/select-journey']">
          <img class="img-fluid" src="assets/jovem/icons/auta.svg"  >
          <p >Acesso inicial</p>
        </a>
      </li>
      <li class="text-center">
        <a href="">
          <img class="img-fluid" src="assets/jovem/icons/maos.svg" >
          <p >Passe a distância</p>
        </a>
      </li>
      <li class="text-center">
        <a href="">
          <img class="img-fluid" src="assets/jovem/icons/coracao.svg" >
          <p >Amparo Fraterno: Quer conversar?</p>
        </a>
      </li>
      <li class="text-center">
        <a href="">
          <img class="img-fluid" src="assets/jovem/icons/duvida.svg" >
          <p >Como navegar</p>
        </a>
      </li>
      <li class="text-center">

        <a href="#">
          <img class="img-fluid" src="assets/jovem/icons/sair.svg" >
          <p >Sair</p>
        </a>
      </li>
       <!-- <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
         <button class="navbar-brand CONCAFRASVIRTUAL2021" id="sidebarCollapse">
          <img src="/assets/jovem/img/logoauta.svg" class="" alt="">
          <span>CONCAFRAS<span class="text-style-1">VIRTUAL</span>2021</span> 
        </button> 
     <!-- <a type="" id="sidebarCollapse" >
          <i class="glyphicon glyphicon-align-left"></i>
          <span>Menu Lateral</span>
        </a>  -->
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- início do conteúdoi -->
  <div class="container-fluid">
    <div class="row" >
      <div class="col-12 col-md-10 pl-md-0 pr-md-5"><router-outlet></router-outlet></div>
      <div class="col-6 col-md-4">

        <app-right-sidebar></app-right-sidebar>


      </div><!-- final Menu Direito -->
    </div>


    <!-- final do conteúdo -->
  </div>
</div>