/* DEMO STYLE*/

.moon {
  width: 35%;
  height: 68%;
  padding: 0px;
  margin: -16%;
  background-image: radial-gradient(circle, white, rgb(192, 243, 255));
  border-radius: 50%;
  box-shadow: 6px 6px 16px rgb(84, 180, 237);
}
.navbar-brand img {
  width: 24%;
  padding-right: 5px;
  white-space: nowrap;

}

.CONCAFRASVIRTUAL2021 {
  font-family: Poppins;
  font-size:0.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color:#273B87 !important;
}
.CONCAFRASVIRTUAL2021 .text-style-1 {
  font-style: italic;
  color: #1EA6EC;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



/* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */

    .wrapper {
      background-image: url("/assets/jovem/img/day-background.jpg") !important;

      display: flex;
      align-items: stretch;
    }

    #sidebar {
      min-width: 86px;
      max-width: 250px;
      margin: 1%;
      background: #273b87;
      border-radius: 10px;
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      color: #fff;
      transition: all 0.3s;
      z-index: 10;
    }

    #sidebar a,
    #sidebar a:hover,
    #sidebar a:focus {
      color: inherit;
    }

    #sidebar.active {
      margin-left: -180px;
    }

    #sidebar .sidebar-header {
      padding: 20px;
      background: #273b87;
      border-radius: 10px;

    }

    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }

    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
    }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
      position: relative;
    }

    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }

    a[aria-expanded="true"]::before {
      content: '\e260';
    }

    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }

    ul.CTAs {
      padding: 20px;
    }

    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    a.download {
      background: #fff;
      color: #7386D5;
    }

    a.article,
    a.article:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }

    .text_sid p{
      object-fit: contain;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      text-align: center;
      color: #fbfbfb;
    }

/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */

    #content {
      min-height: 100vh;
      transition: all 0.3s;
    }

    #content p a {
      color:
    }


/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #sidebarCollapse span {
        display: none;
      }
    }