.navbar-brand img {
  width: 15%;

}

.CONCAFRASVIRTUAL2021 {
  font-family: Poppins;
  font-size:0.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color:#273B87 !important;
}
.CONCAFRASVIRTUAL2021 .text-style-1 {
  font-style: italic;
  color: #1EA6EC;
}