<div class="col-md-12">
    <h1 class="h1-strong">{{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Dados atualizados com sucesso!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Erro ao atualizar os dados.
    </div>

    <div class="col-md-12 col-lg-8">
        <form #XpAddForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Número de vezes completada</label>
                    <input type="text" name="qty" #qty="ngModel" [(ngModel)]="xps.qty" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <fieldset class="form-group">
                        <label>Usuário</label>
                        <select [compareWith]="compareByOptionId" name="user" #user="ngModel" [(ngModel)]="userXp"
                            class="form-control">
                            <option value="">-- Selecione --</option>
                            <option *ngFor="let user of users" [ngValue]="user">
                                {{ user.name }}
                            </option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <fieldset class="form-group">
                        <label>Missão</label>
                        <select [compareWith]="compareByOptionId" name="mission" #user="ngModel" [(ngModel)]="missionXp"
                            class="form-control">
                            <option value="">-- Selecione --</option>
                            <option *ngFor="let mission of missions" [ngValue]="mission">
                                {{ mission.name }}
                            </option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <input type="submit" value="{{ title }}" class="btn btn-warning"
                        [disabled]="!XpAddForm.form.valid" />
                </div>
            </div>
            <br />
            <br />
        </form>
    </div>
</div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>