<div class="desenhos-imprimir">

    <div class="container-total">

        <a href="/concafrinhas/atividades">
            <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png"
                title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons botao" src="assets/concafras2021/concafrinhas/btn-home.png"
                title="Circo">
        </a>

        <a href="/concafrinhas/nosso-mural" target="_blank" rel="noopener noreferrer">
            <img class="btn-upload buttons" src="assets/concafras2021/concafrinhas/btn-upload.png" alt="Enviar arquivos"
                title="Enviar arquivos">
        </a>

        <div class="lista-opcoes">

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus e as crianças - Para colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv01.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus e as crianças 3.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv02.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus e as crianças 1.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv03.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus e as crianças 2.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv04.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Culto do Evangelho - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv05.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Evangelização - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv06.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Crianças Brincando 3 - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv07.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Crianças Brincando 2 - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv08.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Menina lendo um livro.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv09.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Meninas lendo um livro.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv10.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Crianças Brincando - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv11.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Campanha 2- Para colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv12.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Família de Jesus 2- Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv13.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Família de Jesus - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv14.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv15.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Allan Kardec - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv16.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus na casa de Pedro.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv17.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Campanha - Para colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv18.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Jesus 2 - Para Colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv19.png">
                </a>
            </div>

            <div class="item botao">
                <a href="assets/concafras2021/concafrinhas/Downloads/DesenhosParaImprimir/Bom Samaritano - Para colorir.jpg" download>
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv20.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Atividades/Desenhos/DesenhosInterior.jpg">

    </div>

</div>