<router-outlet></router-outlet>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="py-5 text-center text-white h-100 align-items-center d-flex capa" >
	<div class="container py-5">
		<div class="row">
			<a  routerLink="ilha1"><img class="img-fluid d-block ilha1 animacao shake-horizontal2" src="/assets/jovem/img/ilha4.png"></a>
			<div class=""><img class="img-fluid d-block ilha2 animacao shake-horizontal1" src="/assets/jovem/img/ilha2.png"></div>
			<div class=""><img class="img-fluid d-block ilha3 animacao shake-horizontal3" src="/assets/jovem/img/ilha3.png"></div>
			<div class=""> <img class="img-fluid d-block ilha4 animacao shake-horizontal4" src="/assets/jovem/img/ilha1.png"></div>
			<div class=""><img class="img-fluid d-block ilha5 animacao shake-horizontal5" src="/assets/jovem/img/ilha5.png "></div>
		</div>
	</div>
</div>