.sky-background {
   background-image: url('/assets/jovem/img/fund.jpg'); /* usar @media para carregar fundo diferente para celular */
   background-position: center center; 
   background-size: cover;
   background-clip: padding-box;
   margin: 0px;
   padding: 0px;
   width: 100%;
   min-width: 320px;
   min-height: 100vh;
   overflow: hidden;
}

.moon {
   width: 500px;
   height: 500px;
   padding: 0px;
   margin: -250px;
   background-image: radial-gradient(circle, gray, lightgray, white);
   border-radius: 50%;
 }

.header-container {
   width: 100%;
   min-width: 320px;
   padding: 0px;
   margin: 0px;
   font-family: 'Poppins', sans-serif;
}

.header1 {
   width: fit-content;
   font-size: 20px;
   font-weight: bolder;
   color: #263887;
   padding: 0px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0px;
}

.header2 {
   width: fit-content;
   font-size: 20px;
   font-weight: bolder;
   background-color: #1ea6ec;
   color: white;
   padding-left: 5px;
   padding-right: 5px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 5px;
}

.header3 {
   width: fit-content;
   font-size: 10px;
   color: #263887;
   padding: 0px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0px;
}

.header4 {
   width: fit-content;
   font-size: 10px;
   color: #263887;
   padding: 0px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: center;
/*  flex-wrap: wrap; */
   width: 100%;
   min-width: 320px;
   padding: 0px;
   margin: 0px;
 }
 
 .ilha-container {
   display: flex;
   flex-direction: column; /*mudando para row coloca ao lado ao invés de embaixo*/
   align-items: center; /*quando muda para column, incluir esta linha*/
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
   /* overflow: hidden; */
   padding: 0px;
   margin: 0px;
}

.abaixo {
   transform: translateY(40px);
}

.centro {
   transform: translateY(20px);
}

.acima {
   transform: translateY(0px);
}

.ilha-imagem {
   object-fit: contain;
   width: 310px;
   height: 233px;
   padding-left: 10px;
   padding-right: 10px;
   z-index: 1;
}

.ilha-titulo {
   padding: 0px;
   margin: 0px;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
   width: 110px;
   height: auto;
   font-family: 'Poppins', sans-serif;
   font-size: 10px;
   font-weight: 700;
   color: black;
   text-align: center;
   line-height: 18px;
   z-index: 2;
}

.visivel {
   opacity: 0; /* só para teste - visualizar as div das imagens */
}

.botao-adulto-row {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-width: 320px;
   height: 30px;
   padding: 0px;
   margin: 20px;
 }

.botao-adulto {
   width: 90px;
   height: 24px;
   font-size: 16px;
   text-align: center;
   line-height: 24px;
   padding: 0px;
   margin: 0px;
   border-radius: 50vh;
   background-color: #263887;
   color: white;
   Opacity: 1;
   cursor: pointer;
}

/*Configuração dos balloons*/

.balloon-config {
   --balloon-border-radius: 5px;
   --balloon-color: #ffffff;
   --balloon-text-color: #263887;
   --balloon-font-size: 12px;
   --balloon-move: 4px;
   --ballon-pos: "up";
}

@media (max-width: 900px) {
   /*alterna do modo balão quando passa o mouse para nome fixo sob a ilha*/
   .visivel {
      opacity: 1;
   }

   .balloon-config {
      --balloon-border-radius: 5px;
      --balloon-color: transparent;
      --balloon-text-color: transparent;
      --balloon-font-size: 12px;
      --balloon-move: 4px;
   }

   .ilha-container {
      display: flex;
      flex-direction: column; /*mudando para row coloca ao lado ao invés de embaixo*/
      align-items: center; /*quando muda para column, incluir esta linha*/
      border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
      /* overflow: hidden; */
      padding: 0px;
      margin: 0px;
   }

   .ilha-imagem {
      width: 260px;
      height: 195px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
   }
}

@media (max-width: 426px) {
   /* centraliza a lua e os headers*/
   .moon {
      width: 120vw;
      height: 120vw;
      padding: 0px;
      margin: -80vw -10vw -40vw -10vw;
      background-image: radial-gradient(circle, gray, lightgray, white);
      border-radius: 50%;
   }

   .header1{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .header2{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 5px;
   }

   .header3{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .header4{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 20px;
   }

   /*move o nome fixo para a lateral da ilha*/
   .ilha-container {
      display: flex;
      flex-direction: row; /*titulo ao lado*/
      border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
      /* overflow: hidden; */
      padding: 0px;
      margin: 0px;
   }

   .ilha-imagem {
      width: 210px;
      height: 158px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
   }
}



/*Configuração da animação das ilhas*/

.animacao:hover {
   -webkit-filter: drop-shadow(0px 0px 25px #ffffff);
   filter: drop-shadow(0px 0px 25px #ffffff);
}

.shake-horizontal1 {
   -webkit-animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.shake-horizontal2 {
   -webkit-animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal3 {
   -webkit-animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal4 {
   -webkit-animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal5 {
   -webkit-animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}
@keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}



