
<!-- <div id="content">
	<div class=" py-5">
		<div class="">
			<div class=""><img class="img-fluid d-block ilha1 animacao shake-horizontal2" src="/assets/jovem/img/ilha4.png"></div>
			<div class=""><img class="img-fluid d-block ilha2 animacao shake-horizontal1" src="/assets/jovem/img/ilha2.png"></div>
			<div class=""><img class="img-fluid d-block ilha3 animacao shake-horizontal3" src="/assets/jovem/img/ilha3.png"></div>
			<div class=""> <img class="img-fluid d-block ilha4 animacao shake-horizontal4" src="/assets/jovem/img/ilha1.png"></div>
			<div class=""><img class="img-fluid d-block ilha5 animacao shake-horizontal5" src="/assets/jovem/img/ilha5.png "></div>
		</div>
	</div>
</div>
-->

<div class=" capa">
	<div class="row">
		<div class="col-md-4"><a [routerLink]="['/ilha1']" [routerLinkActive]="['active']" ><img class="img-fluid d-block animacao shake-horizontal2" src="/assets/jovem/img/ilha4.png"></a></div>
		<div class="col-md-4 offset-md-4"><img class="img-fluid d-block animacao shake-horizontal1" src="/assets/jovem/img/ilha2.png">
		</div>
		<div class="col-md-4 offset-md-3"><img class="img-fluid d-block animacao shake-horizontal3" src="/assets/jovem/img/ilha3.png"></div>
		<div class="col-md-3 offset-md-3"><img class="img-fluid d-block  animacao shake-horizontal4" src="/assets/jovem/img/ilha1.png"></div>
		<div class="col-md-3 offset-md-3"><img class="img-fluid d-block  animacao shake-horizontal5" src="/assets/jovem/img/ilha5.png "></div>
	</div>
</div>



<router-outlet></router-outlet>

