.day-background {
   background-image: url('/assets/jovem/img/day-background.jpg'); /* usar @media para carregar fundo diferente para celular */
   background-position: center center; 
   background-size: cover;
   background-clip: padding-box;
   margin: 0px;
   padding: 0px;
   width: 100%;
   min-width: 320px;
   min-height: 100%;
   overflow: hidden;
}

.night-background {
   background-image: url('/assets/jovem/img/night-background.jpg'); /* usar @media para carregar fundo diferente para celular */
   background-position: center center; 
   background-size: cover;
   background-clip: padding-box;
   margin: 0px;
   padding: 0px;
   width: 100%;
   min-width: 320px;
   min-height: 100%;
   overflow: hidden;
}

.visible-area {
   width:100%;
   height:100%;
   padding-left: 109px;
   padding-right: 225px;
   padding-top: 0px;
   padding-bottom: 0px;
   margin: 0px;
   border: 0px dashed yellow;   /* só para teste - visualizar as div das imagens */
}

.moon {
   width: 500px;
   height: 500px;
   padding: 0px;
   margin: -250px;
   background-image: radial-gradient(circle, white, rgb(192, 243, 255));
   border-radius: 50%;
   box-shadow: 6px 6px 16px rgb(84, 180, 237);
 }

 .sun {
   width: 500px;
   height: 500px;
   padding: 0px;
   margin: -250px;
   background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(255, 255, 100));
   border-radius: 50%;
   box-shadow: 6px 6px 40px rgb(255, 255, 100);
 }

.header-container {
   width: 100%;
   min-width: 320px;
   padding: 0px;
   margin: 0px;
   font-family: 'Poppins', sans-serif;
}

.header1 {
   width: fit-content;
   font-size: 20px;
   font-weight: bolder;
   color: #263887;
   padding: 0px;
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0px;
}

.header2 {
   width: fit-content;
   font-size: 20px;
   font-weight: bolder;
   background-color: #1ea6ec;
   color: white;
   padding-left: 5px;
   padding-right: 5px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 5px;
}

.header3 {
   width: fit-content;
   font-size: 10px;
   color: #263887;
   padding: 0px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0px;
}

.header4 {
   width: fit-content;
   font-size: 10px;
   color: #263887;
   padding: 0px;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: center;
/*  flex-wrap: wrap; */
   width: 100%;
   min-width: 320px;
   padding: 0px;
   margin: 0px;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
 }
 
 .ilha-container {
   display: flex;
   flex-direction: column-reverse; /*mudando para row coloca ao lado ao invés de embaixo*/
   align-items: center; /*quando muda para column, incluir esta linha*/
   /* overflow: hidden; */
   padding: 0px;
   margin: 0px;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
}

.abaixo {
   transform: translateY(40px);
}

.centro {
   transform: translateY(20px);
}

.acima {
   transform: translateY(0px);
}

.ilha-imagem {
   object-fit: contain;
   width: 310px;
   height: 170px; /*era 233px*/
   padding-left: 10px;
   padding-right: 10px;
   z-index: 1;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
}

.ilha-titulo {
   padding: 0px;
   padding-left: 2px;
   padding-right: 2px;
   margin: 0px;
   width: 110px;
   height: auto;
   font-family: 'Poppins', sans-serif;
   font-size: 10px;
   color: white;
   background-color: rgba(83, 93, 138, 0.4);
   border-radius: 50vh;
   text-align: center;
   line-height: 18px;
   z-index: 2;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
}

.visivel {
   opacity: 0; /* só para teste - visualizar as div das imagens */
}

.btn-epics-row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-width: 320px;
   height: 36px;
   padding: 0px;
   margin: 0px;
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
 }

.btn-epics {
   width: 260px;
   height: 36px;
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   line-height: 34px;
   padding: 0px;
   margin: 0px;
   border-radius: 18px;
   border: 1px solid #13288a;
   background-color: rgba(38, 56, 135, .7);
   color: white;
   cursor: pointer;
   transition: background 1s;
   transition: border-color 0.2s;
}

.btn-epics:hover {
   background-color: rgba(38, 56, 135, 1);
   box-shadow: 0px 0px 25px #ffffff;
}

/*Configuração dos balloons*/

.balloon-config {
   --balloon-border-radius: 5px;
   --balloon-color: rgba(83, 93, 138, 0.4);
   --balloon-text-color: white;
   --balloon-font-size: 12px;
   --balloon-move: 6px;
   --ballon-pos: "up";
}

@media (hover: none) {
/*alterna do modo balão quando passa o mouse para nome fixo sob a ilha*/
   .visivel {
      opacity: 1;
   }

   .balloon-config {
      --balloon-border-radius: 5px;
      --balloon-color: transparent;
      --balloon-text-color: transparent;
      --balloon-font-size: 12px;
      --balloon-move: 4px;
   }
}

@media (max-width: 900px), (max-height: 426px) {
   /* ajusta a área visivel em função da ocultação do menu da event-info */
   .visible-area {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin: 0px;
      border: 0px dashed yellow;   /* só para teste - visualizar as div das imagens */
   }

   .ilha-container {
      display: flex;
      flex-direction: column-reverse; /*mudando para row coloca ao lado ao invés de embaixo*/
      align-items: center; /*quando muda para column, incluir esta linha*/
      border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
      /* overflow: hidden; */
      padding: 0px;
      margin: 0px;
   }

   .ilha-imagem {
      width: 260px;
      height: 195px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
   }
}

@media (max-width: 426px) {
   /* centraliza a lua e os headers*/
   .moon {
      width: 120vw;
      height: 120vw;
      padding: 0px;
      margin: -80vw -10vw -40vw -10vw;
      background-image: radial-gradient(circle, white, rgb(192, 243, 255));
      border-radius: 50%;
      box-shadow: 6px 6px 8px rgb(84, 180, 237);
   }

   .header1{
      margin: auto;
      margin-top: 15px;
      margin-bottom: 0px;
   }

   .header2{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 5px;
   }

   .header3{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .header4{
      margin: auto;
      margin-top: 0px;
      margin-bottom: 20px;
   }

   /*move o nome fixo para a lateral da ilha*/
   .ilha-container {
      display: flex;
      flex-direction: row; /*titulo ao lado*/
      border: 0px dashed gray;   /* só para teste - visualizar as div das imagens */
      /* overflow: hidden; */
      padding: 0px;
      margin: 0px;
   }

   .ilha-imagem {
      width: 210px;
      height: 158px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1;
   }
}



/*Configuração da animação das ilhas*/

.animacao:hover {
   -webkit-filter: drop-shadow(0px 0px 25px #ffffff);
   filter: drop-shadow(0px 0px 25px #ffffff);
}

.shake-horizontal1 {
   -webkit-animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.shake-horizontal2 {
   -webkit-animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal3 {
   -webkit-animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal4 {
   -webkit-animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal5 {
   -webkit-animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}
@keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}



