.capa{

  display: grid;
  align-items: flex-end!important;
  justify-content: center;
  transition-delay: 0.5s;
  background-position: bottom;  
  background-size: cover;  
  background-repeat: no-repeat;

}
/*Configuração da animação das ilhas*/

.animacao:hover {
   -webkit-filter: drop-shadow(0px 0px 25px #FFF82E);
   filter: drop-shadow(0px 0px 25px #FFF82E);
}

.shake-horizontal1 {
   -webkit-animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.shake-horizontal2 {
   -webkit-animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 15s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal3 {
   -webkit-animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal4 {
   -webkit-animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-horizontal5 {
   -webkit-animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
   animation: shake-horizontal 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}
@keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}
  
.titulo {
   font-family: "Poppins", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 1.2rem;
   color: #fff;
   padding: 20px;
}

