<div class="brincadeiras">

    <div class="container-total">

        <a href="/concafrinhas/parquinho">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png" title="Circo">
        </a>

        <div class="lista-opcoes">

            <div class="item">

                <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv01.png"
                    (click)="openModal(template, '1')">

            </div>

            <div class="item">

                <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv02.png"
                    (click)="openModal(template, '2')">

            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv03.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv04.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv05.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv06.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv07.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv08.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv09.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv10.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/Brincadeiras-atv11.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Parquinho/Brincadeiras/BrincadeirasInterior.jpg">

    </div>

</div>

<ng-template #template>

    <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" *ngIf="{{id}} == '1'">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="modalRef.hide()">
                        <span aria-hidden="true">x</span>
                    </button>

                    <div class="video-container">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=WjF9ueC_bbY"
                            id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>

            <div class="modal-content" *ngIf="{{id}} == '2'">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="modalRef.hide()">
                        <span aria-hidden="true">x</span>
                    </button>

                    <div class="video-container">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- 
<ng-template #template>
        <div class="my-modal-content">
            <button type="button" class="my-close close" data-dismiss="modal" aria-label="Close"
                (click)="modalRef.hide()">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
                <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/LXb3EKWsInQ?autoplay=1&amp;amp;modestbranding=1&amp;amp;showinfo=0"
                    id="video" allowscriptaccess="always" allow="autoplay">
                </iframe>

            </div>
        </div>
    </ng-template>

 -->