<div class="modal-header" style="text-align: center; width: 100%">
  <div style="width: 100%">
    <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div style="width: 0px; z-index: 120">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body" style="padding: 1.5rem">
  <div style="margin: 0px auto; width: 70%; text-align: center">
    <p style="font-size: 0.8rem; color: #a2a2a2; margin: 1rem">
      “- Sim, desde que haja sintonia entre aquele que o administra e aquele que
      o recebe. Nesse caso, diversos companheiros espirituais se ajustam no
      trabalho do auxílio, favorecendo a realização, e a prece silenciosa será o
      melhor veículo da força curadora.” (André Luiz, Chico Xavier, Nos Domínios
      da Mediunidade, cap. 17)
    </p>
    <div style="margin: 0 auto;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g8bbxd1Gws4?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <button type="button" class="btn-modal" style="margin: 1rem" (click)="openFraternalSupportComponent()">
      AMPARO FRATERNO: QUER CONVERSAR?
    </button>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div> -->
