<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Dados atualizados com sucesso!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Erro ao atualizar os dados.
    </div>
    <form #epicEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>Nome</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="epic.name" class="form-control" required />
            <span *ngIf="!name.value && name.touched" >O nome é obrigatório!</span>
        </p>
        <p>
            <label>Idade Inicial</label>
            <input type="text" name="start_age" #nick="ngModel" [(ngModel)]="epic.start_age" class="form-control" bsDatepicker />
        </p>
        <p>
            <label>Idade Final</label>
            <input type="text" name="end_age" #nick="ngModel" [(ngModel)]="epic.end_age" class="form-control" bsDatepicker />
        </p>
        <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!epicEditForm.form.valid" />
        <br/>
        <br/>
    </form>
</div>
