<section id="caravan-header" class="caravan-container">
    <div class="caravan-header-card caravan-header-img">
        <img class="img-size" src="assets/concafras2021/concafronas/icones/mosaico.svg" alt="First slide">
    </div>
    <div class="caravan-header-card caravan-header-item">
        <h3 class="caravan-header-title">Espaço do Caravaneiro</h3>
        <span class="caravan-header-text">Acompanhe os posts da galera e acesse vídeos, músicas e oficinas.</span>
    </div>
</section>
<section id="recent-messages" class="caravan-container">
    <div>
        <h3 class="caravan-header-title">Mensagens mais recentes</h3>
    </div>
    <div id="carouselControlsRecentMessage" class="carousel slide caravan-carousel-recent">
        <ol class="carousel-indicators">
            <li *ngFor="let carousel of groupsCarousel; let i=index" [ngClass]="i == actualCarousel ? 'active' : ''"></li>
        </ol>
        <div id="carousel-recent-messages" class="carousel-inner">
            <div class="carousel-item card-height" *ngFor="let carousel of groupsCarousel; let i=index"[ngClass]="i==actualCarousel ? 'active' : ''">
                <div class="row">
                    <div class="col-sm-3" *ngFor="let message of groupMessages">
                        <div class="card">
                            <span>{{message.message}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <a class="carousel-control-prev" [routerLink]="" role="button"
             (click)="previousCarousel()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" [routerLink]="" role="button"
             (click)="nextCarousel()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="post-concafras" class="caravan-container">
    <div class="post-content">
        <span class="post-text">
            Nos dê o seu <span class="marker-highlight hashtag-text">feedback</span>!!!
        </span>
        <a (click)="openShareMessageComponent()" class="btn btn-primary btn-post">Deixe seu recado!</a>
    </div>
</section>
<section id="sing-with-us" class="caravan-container">
    <div id="sing-with-us-header">
        <h2 class="caravan-header-title">Vem cantar com a gente!</h2>
    </div>
    <div class="sing-with-us-card">
        <div id="main-video" class="sing-with-us-container sing-with-us-block-main">
            <iframe class="sing-with-us-iframe" src="https://www.youtube.com/embed/-gAw_W4uzho" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="sing-with-us-container sing-with-us-block-second">
            <div>
                <iframe class="sing-with-us-iframe-thumbnail" src="https://www.youtube.com/embed/AT1N3VQ_eK0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="sing-with-us-iframe-thumbnail" src="https://www.youtube.com/embed/oKmTn-8zPYE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- AQUI TERÁ CAROUSEL VERTICAL -->
        </div>
    </div>
</section>
<section id="music" class="caravan-container">
    <div>
        <h3 class="caravan-header-title">Músicas</h3>
    </div>
    <div id="carouselMusic" class="carousel slide caravan-carousel-recent" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselMusic" data-slide-to="0" class="active"></li>
            <li data-target="#carouselMusic" data-slide-to="1"></li>
            <!-- <li data-target="#carouselMusic" data-slide-to="2"></li> -->
        </ol>
        <div id="carousel-recent-messages" class="carousel-inner">
            <div class="carousel-item card-height active">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item card-height">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselMusic" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselMusic" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="workshops" class="caravan-container">
    <div>
        <h3 class="caravan-header-title">Oficinas</h3>
    </div>
    <div id="carouselWorkshops" class="carousel slide caravan-carousel-recent" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselWorkshops" data-slide-to="0" class="active"></li>
            <li data-target="#carouselWorkshops" data-slide-to="1"></li>
            <!-- <li data-target="#carouselWorkshops" data-slide-to="2"></li> -->
        </ol>
        <div id="carousel-recent-messages" class="carousel-inner">
            <div class="carousel-item card-height active">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item card-height">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselWorkshops" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselWorkshops" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>