<section id="caravan-header" class="caravan-container">
    <div class="caravan-header-card caravan-header-img">
        <img class="img-size" src="assets/concafras2021/concafronas/icones/mosaico.svg" alt="First slide">
    </div>
    <div class="caravan-header-card caravan-header-item">
        <h3 class="caravan-header-title">Espaço do Caravaneiro</h3>
        <span class="caravan-header-text">Acompanhe os posts da galera e acesse vídeos, músicas e oficinas.</span>
    </div>
</section>
<section class="caravan-container">
    <div>
        <h3 class="caravan-header-title">Mensagens mais recentes</h3>
    </div>
    <div id="carouselControlsRecentMessage" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselControlsRecentMessage" data-slide-to="0" class="active"></li>
            <li data-target="#carouselControlsRecentMessage" data-slide-to="1"></li>
            <li data-target="#carouselControlsRecentMessage" data-slide-to="2"></li>
        </ol>
        <div id="carousel-recent-messages" class="carousel-inner">
            <div class="carousel-item card-height active">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item card-height">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <span>teste 2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControlsRecentMessage" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControlsRecentMessage" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
