#caravan-header {
    background-color: #1EA6EC;
    background-image: linear-gradient(to right, #A7E0FF, #1EA6EC);
    padding: 1rem 6rem;
}

#caravan-header .caravan-header-card {
    display: inline-block;
}

#caravan-header .caravan-header-card.caravan-header-item {
    width: 70%
}

#caravan-header .caravan-header-card.caravan-header-img {
    width: 30%
}

.caravan-header-title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.caravan-header-text {
    font-size: 14px;
    color: #fff;
}

/* ==== IMG ==== */
.img-size {
    width: 150px;
    height: 150px;
}