<div class="row">
        <div class="col-md-4">
            <h2>Momentos Coletivos</h2>
            <ul>
                <li *ngFor="let lecture of lectures">
                    <a role="button" [routerLink]="['/audithorium/', 'lecture', lecture._id]" [routerLinkActive]="['active']">{{lecture.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Temas Específicos</h2>
            <ul>
                <li *ngFor="let trail of trails">
                    {{trail.name}}
                    <ul>
                        <li *ngFor="let classroom of trail.classrooms">
                            <a role="button" [routerLink]="['/audithorium/', 'activity', activity._id]" [routerLinkActive]="['active']">{{activity.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Novas Dimensões do Conhecimento</h2>
            <ul>
                <li *ngFor="let stage of stages">
                    {{stage.name}}
                    <ul>
                        <li *ngFor="let activity of stage.activities">
                            <a role="button" [routerLink]="['/audithorium/', 'activity', activity._id]" [routerLinkActive]="['active']">{{activity.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>