<h1 class="text-center">{{stages[0].type}}</h1>
<h2 class="text-center">{{stages[0].name}}</h2>
<div class="card-deck">
  <ul class="row card-columns">
     <li class="col-md-12 col-lg-3 mt-4 nobull" *ngFor="let activity of stages[0].activities">
         <div class="card">
            <div class="img-container m-0 p-0">
               <img class="card-img-top" src="/assets/jovem/img/card_img.jpg" alt="Imagem">
               <a [routerLink]="['/jovem/audithorium/', 'activity', activity._id]" [routerLinkActive]="['active']"><span class="fa fa-play fa-5x"></span></a>
            </div>
            <div class="card-body">
               <h5 class="card-title">{{activity.name}}</h5>
               <p class="card-text">{{activity.description}}</p>
               <p class="card-text"><small class="text-muted small-text">{{activity.type}}</small></p>
            </div>
         </div>
      </li>
   </ul>
</div>
<div class="row justify-content-center">
 <button class="btn-lg btn-primary" onclick="window.history.back()">Voltar</button>
</div>

<div *ngIf="stages[0].type === 'Ilha catedral do som'" class="fundo-som"></div>
<div *ngIf="stages[0].type === 'Ilha casa do caminho'" class="fundo-caminho"></div>
<div *ngIf="stages[0].type === 'Ilha instituto almas irmãs'" class="fundo-irmas"></div>
<div *ngIf="stages[0].type === 'Ilha estação jovem ao vivo'" class="fundo-vivo"></div>
<div *ngIf="stages[0].type === 'Ilha catedral do som'" class="fundo-som"></div>
<!--
   sintaxe alternativa
<div [ngStyle]="{'background-image': 'url(' + stages[0].name + ')'}" class="fundo"></div>
-->