#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.retangulo-2 {
  width: 55em;
  height: 450px;
  margin: 0px auto;
  margin-top: 200px;
  background-image: linear-gradient(#fbfbfb, #dcdcdc);
  box-shadow: 0px 10px 15px #00000021;
  padding: 100px 200px;
  text-align: center;
  border-radius: 2px;
}

.text-login {
  /* font-family: "Poppins", sans-serif; */
  font-size: 25px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  color: #273b87;
  opacity: 1;
}

.form-login {
  text-align: left;
  margin: 25px 0px;
}

.login-row {
  margin: 30px 0px;
}

.btn-login {
  margin: 0px;
  width: 100px;
  background: transparent;
  border-radius: 50px;
  border-color: #273b87;
  color: #273b87;
  font-weight: bold;
  transition: color 0.2s;
  cursor: pointer;
  opacity: 1;
}

.btn-login:hover {
  background: #273b87;
  color: #ffffff;
}

.send-row {
  display: flex;
  align-items: center;
  margin: 0px 5%;
}

.send-login {
  margin: 0px auto;
}

.text-link-login {
  color: #4b4b4bb3;
}

.icon-close {
  cursor: pointer;
  position: relative;
  left: 40%;
  top: -80px;
}