<div id="bg">
    <img
      src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png"
      alt=""
    />
</div>
<div class="retangulo-2">
    <div class="col-lg-12">
        <span class="text-login">Faça seu login:</span>
        <!-- <i class="fas fa-times icon-close"></i> -->
        <svg-icon class="close icon-close" [svgStyle]="{ 'width.px':20 }" src="assets/concafras2021/concafronas/icones/fechar.svg"></svg-icon>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Usuário ou senha inválidos.
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12 form-login">
            <div class="row login-row">
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" placeholder="Digite o email cadastrado" required />
                <span *ngIf="!email.valid && email.touched" style="padding: 0px 5px; color: red;" ><small>Email não é válido!</small></span>
            </div>
            <div class="row login-row">
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="Senha" required />
                <span *ngIf="!password.valid && password.touched" style="padding: 0px 5px; color: red;" ><small>Senha é obrigatória!</small></span>
            </div>
            <div class="row login-row send-row">
                <a href="" class="send-login text-link-login"><small>Esqueceu a senha?</small></a>
                <input type="submit" value="Entrar" class="btn btn-primary btn-login send-login" [disabled]="!loginForm.form.valid">
                <a href="" class="send-login text-link-login"><small>Precisa de ajuda?</small></a>
            </div>
        </form>
    </div>
</div>
