<div id="bg">
  <img src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png" alt="" />
</div>

<div class="container">
  <div class="retangulo-2">
  <button type="button" class="close icon-close position-relative" (click)="back()" aria-label="Close">
    <span aria-hidden="true">
      <svg-icon class="close icon-close" [svgStyle]="{ 'width.px':25 }"
        src="assets/concafras2021/concafronas/icones/fechar.svg"></svg-icon>
    </span>
  </button>
  
    <div>
      <h3 class="titulo-principal">Conheça nossa plataforma!</h3>
    </div>

    <div class="video" *ngIf="contentCaravanSpace">
      <div class="titulo">
        <span>Tutorial - Espaço do caravaneiro</span>
      </div>
      <app-videojs [vContent]="contentCaravanSpace"></app-videojs>
    </div>

    <div class="video" *ngIf="contentSupportIcons">
      <div class="titulo">
        <span>Tutorial - Ícones de apoio</span>
      </div>
      <app-videojs [vContent]="contentSupportIcons"></app-videojs>
    </div>

    <div class="video" *ngIf="contentHome">
      <div class="titulo">
        <span>Tutorial - Página inicial</span>
      </div>
      <app-videojs [vContent]="contentHome"></app-videojs>
    </div>

    <div class="video" *ngIf="contentProfile">
      <div class="titulo">
        <span>Tutorial - Perfil do caravaneiro</span>
      </div>
      <app-videojs [vContent]="contentProfile"></app-videojs>
    </div>

    <div class="video" *ngIf="contentSchedule">
      <div class="titulo">
        <span>Tutorial - Programação</span>
      </div>
      <app-videojs [vContent]="contentSchedule"></app-videojs>
    </div>

    <div class="video" *ngIf="contentEpicJovem">
      <div class="titulo">
        <span>Tutorial - Plataforma Jovem</span>
      </div>
      <app-videojs [vContent]="contentEpicJovem"></app-videojs>
    </div>

    <div>
      <input type="button" (click)="goToEvent()" value="Ir para o evento" class="btn btn-primary btn-sm btn-about" />
    </div>
  </div>
</div>