<div class="col-md-12" [style]="
    'height:' + (alturaTela - 50) + 'px; overflow: auto; width: 100%;'
  ">
  <h1 class="h1-strong">{{title}}</h1>
  <div class="alert alert-success" *ngIf="status == 'success'">
    Dados atualizados com sucesso!
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Erro ao atualizar os dados.
  </div>
  <div class="col-md-12 col-lg-8">
    <form #lectureEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="lecture.name" class="form-control" required />
          <span *ngIf="!name.value && name.touched">O nome é obrigatório!</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Descrição</label>
          <input type="text" name="description" #description="ngModel" [(ngModel)]="lecture.description"
            class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Palestrante</label>
          <input type="text" name="speecher" #speecher="ngModel" [(ngModel)]="lecture.speecher" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label>Data de Início</label>
          <input type="text" name="start_time" #start_time="ngModel" [(ngModel)]="lecture.start_time"
            class="form-control" bsDatepicker />
        </div>
        <div class="form-group col-md-3">
          <label>Horário de Início</label>
          <timepicker name="start_time" [(ngModel)]="lecture.start_time" [minuteStep]="5" [showSpinners]="false"
            [showMeridian]="false"></timepicker>
        </div>
        <div class="form-group col-md-3">
          <label>Data de Término</label>
          <input type="text" name="end_time" #end_time="ngModel" [(ngModel)]="lecture.end_time" class="form-control"
            bsDatepicker />
        </div>
        <div class="form-group col-md-3">
          <label>Horário de Término</label>
          <timepicker name="end_time" [(ngModel)]="lecture.end_time" [minuteStep]="5" [showSpinners]="false"
            [showMeridian]="false"></timepicker>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <fieldset class="form-group">
            <label>Tipo</label>
            <select [compareWith]="compareByOptionId" name="tipo" #type="ngModel" [(ngModel)]="lecture.type"
              class="form-control">
              <option value="">-- Selecione --</option>
              <option value="palestra">Palestra</option>
              <option value="momento_coletivo">Momento Coletivo</option>
              <option value="especial">Especial</option>
              <option value="cfas">CFAS</option>
              <option value="central">Central</option>
              <option value="alegria">Alegria</option>
              <option value="alegria_music">Alegria - MP3</option>
              <option value="workshop">Oficina</option>
              <option value="tutorial">Tutorial</option>
              <hr>
              <option value="bom_samaritano_infantil">Bom Samaritano Infantil</option>
              <option value="concafrinhas_alegria">Concafrinhas Alegria</option>
              <option value="concafrinhas_temacentral">Concafrinhas Tema Central</option>
              <option value="concafrinhas_workshop">Concafrinhas Ofinas</option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <fieldset class="form-group">
            <label>Épico</label>
            <select [compareWith]="compareByOptionId" name="epic" #epic="ngModel" [(ngModel)]="lecture.epic"
              class="form-control">
              <option value="">-- Selecione --</option>
              <option *ngFor="let epic of epics" [ngValue]="epic">{{epic.name}}</option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <fieldset class="form-group">
            <label>Imagem</label>
            <input *ngIf="!lecture.thumbnail" class="form-control" type="file" name="image"
              accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event)" required />
            <div *ngIf="lecture.thumbnail">
              <a [href]="lecture.thumbnail.fileLink">{{
                lecture.thumbnail.description
                }}</a>
              <button type="button" class="btn btn-danger" (click)="onRemoveFile(lecture.thumbnail)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </fieldset>
        </div>
      </div>
      <app-content [(vContent)]="lecture.contents" (contentFormIsValid)="contentFormIsValid($event)">
      </app-content>
      <div class="row">
        <div class="form-group col-md-12">
          <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!lectureEditForm.form.valid" />
        </div>
      </div>
      <br />
      <br />
    </form>
  </div>
</div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>
