<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" [routerLink]="['/admin']">EVENTOS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item">
                        <div id="custom-search" class="top-search-bar">
                            <input class="form-control" type="text" placeholder="Search..">
                        </div>
                    </li>
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">{{identity.name}}</h5>
                                <span class="status"></span><span class="ml-2">Available</span>
                            </div>
                            <a class="dropdown-item" [routerLink]="['/perfil', identity._id]"><i class="fas fa-user mr-2"></i>Perfil</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                            <a class="dropdown-item" (click)="logout()"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Menu Principal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        
                        <a class="nav-link" [routerLink]="['/admin']" aria-expanded="false" ><i class="fas fa-fw fa-user-circle"></i>Dashboard </a>
                        <li class="nav-divider">
                            CADASTROS GERAIS
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/conference/list']" [routerLinkActive]="['active']"><i class="fas fa-fw fa-rocket"></i>Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/user/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Usuários</a>
                        </li>
                        <li class="nav-divider">
                            POR EVENTO
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/epic/list']" [routerLinkActive]="['active']"><i class="fas  fa-home"></i>Épicos</a>
                        </li>
                        <li class="nav-divider">
                            POR EPICO
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/lecture/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Palestras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/trail/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Temas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/stage/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Trilhas</a>
                        </li>
                        <li class="nav-item" *ngIf="false">
                            <a class="nav-link" [routerLink]="['/admin/classroom/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/activity/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Paineis</a>
                        </li>
                        <li class="nav-item" *ngIf="false">
                            <a class="nav-link" [routerLink]="['/admin/document/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Mídia</a>
                        </li>
                        <li class="nav-item" *ngIf="false">
                            <a class="nav-link" [routerLink]="['/admin/content']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Conteúdo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/mission/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Missão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/admin/xps/list']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Xps</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
               <div class="ecommerce-widget">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2021 Concafras. All rights reserved.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">Opcao 1</a>
                            <a href="javascript: void(0);">Opcao 2</a>
                            <a href="javascript: void(0);">Opcao 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->