<div class="jogos-digitais">

    <div class="container-total">

        <a href="/concafrinhas/parquinho">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png" title="Circo">
        </a>

        <div class="lista-opcoes">

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv01.png"
                    (click)="openModal(template01)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv02.png"
                    (click)="openModal(template02)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv03.png"
                    (click)="openModal(template03)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv04.png"
                    (click)="openModal(template04)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv05.png"
                    (click)="openModal(template05)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv06.png"
                    (click)="openModal(template06)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv07.png"
                    (click)="openModal(template07)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv08.png"
                    (click)="openModal(template08)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv09.png"
                    (click)="openModal(template09)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv10.png"
                    (click)="openModal(template10)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv11.png"
                    (click)="openModal(template11)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv12.png"
                    (click)="openModal(template12)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv13.png"
                    (click)="openModal(template13)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv14.png"
                    (click)="openModal(template14)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv15.png"
                    (click)="openModal(template15)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv16.png"
                    (click)="openModal(template16)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv17.png"
                    (click)="openModal(template17)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv18.png"
                    (click)="openModal(template18)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv19.png"
                    (click)="openModal(template19)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv20.png"
                    (click)="openModal(template20)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv21.png"
                    (click)="openModal(template21)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv22.png"
                    (click)="openModal(template22)">
            </div>

            <div class="item">
                <img src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitais-atv23.png"
                    (click)="openModal(template23)">
            </div>

        </div>

        <img class="principal"
            src="assets/concafras2021/concafrinhas/Parquinho/JogosDigitais/JogosDigitaisInterior.jpg">

    </div>

</div>

<ng-template #template01>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Drogas Não!</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/76035402789740c1948f2c534293b3b2?themeId=53&templateId=49"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template02>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O Evangelho e o futuro</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/9084/602/743"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template03>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Jesus no Lar</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/b58ead1ceefd4e53b2a4fcaf6f10033a?themeId=51&templateId=48"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template04>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Evangelização Infantil</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/168748e065f14b048631688565fe9ec4?themeId=53&templateId=49"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template05>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Caridade I</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/23a6773491c749aab9e0fb170d64504e?themeId=29&templateId=30"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template06>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Caridade II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/8490/907/335"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template07>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Caridade III</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/4624/898/890"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template08>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Caridade IV</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/4566/094/493"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template09>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Caridade V</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/b0156bd1eb1a44fbb76d136512c4725d?themeId=45&templateId=72"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template10>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Alcoolismo, como evitar</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/c70797dc2fe344258a5752e7f3608234?themeId=1&templateId=36"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template11>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Alcoolismo, como evitar II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/6599/080/531"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template12>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Em defesa da vida</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/9060/528/888"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template13>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O Bom Samaritano</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/7291/869/747"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template14>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O livro dos espíritos I</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/4117250143f64173bbb279986ddf57b3?themeId=23&templateId=46"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template15>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O livro dos espíritos II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/fe0d9cfb49614efc8cae14dc899b674a?themeId=1&templateId=3"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template16>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">O nascimento de Jesus</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/6e7a6f30d4bc4bc997785275065a2a83?themeId=41&templateId=36"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template17>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Paz no lar, paz no mundo I</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/9054/289/266"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template18>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Paz no lar, paz no mundo II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/9054/289/113"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template19>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Família I</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/8995/253/443"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template20>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Família II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/4f77cedbcc4d4b3a91a81525a794dd56?themeId=1&templateId=5"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template21>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Auta de Souza I</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed/play/9059/409/384"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template22>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Auta de Souza II</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/pt/embed/93abe10932d645d8ad91670d1c283af0?themeId=1&templateId=5"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template23>
    <div class="modal-content-video">
        <div class="modal-header">
            <h4 style="color: white;">Alegria de Viver</h4>
            <button class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="video-container">
                <iframe src="https://wordwall.net/embed//play/9053/957/964"
                    width="500" height="380" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</ng-template>
