<section id="lecture-header" class="lecture-container">
    <div class="lecture-header-card lecture-header-img">
        <img class="img-size" src="assets/concafras2021/concafronas/icones/PALESTRAS.svg" alt="Lecture Icon">
    </div>
    <div class="lecture-header-card lecture-header-item">
        <h3 class="lecture-header-title">Palestras</h3>
        <span class="lecture-header-text">Visite os stands virtuais das trilhas acessando os cartões.</span>
    </div>
</section>
<section id="lecture-content" class="lecture-container">
    <div class="row no-gutters">
        <div class="col-lg-3 col-6" *ngFor="let item of lectureList; let i=index" (click)="goToAudithorium(item)">
            <div class="card margin-card">
                <div class="card-div-img">
                    <img class="card-div-img-size" *ngIf="item.thumbnail" [src]="item.thumbnail.fileLink" alt="">
                    <img class="card-div-img-size" *ngIf="!item.thumbnail" src="assets/concafras2021/concafronas/paisagem.jpg" alt="">
                </div>
                <div class="card-div-text">
                    <span class="card-div-text-content">Palestra</span>
                    <span class="card-div-text-content"><strong>{{ item.name }}</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
