.casa-nvl1 {
    height: 100%;
}

.container-total {
    overflow: hidden;
    position: relative;
    padding: 0;
} 

.casa-nvl1 .porta1 {
    width: 26%;
    top: 20.1%;
    left: 2%;
}

.casa-nvl1 .porta2 {
    width: 28.3%;
    top: 19.6%;
    left: 34.5%;
}

.casa-nvl1 .porta3 {
    width: 26.5%;
    top: 20%;
    right: 2%;
}

.buttons {
    height: auto;
    position: absolute;
    z-index: 1;
    display: block;
}

.botao:hover {
    filter: drop-shadow(0px 0px 25px #FFF82E);
}

img {
    max-width: 100%;
    height: auto;
}

.btn-voltar {
    width: 7%;
    max-height: 124px;
    top: 2%;
    right: 2%;
}

.principal {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

