<section class="diference-container">
    <p class="header-text">Caro caravaneiro, <br><br>
        Temos 3 opções para você poder acompanhar o conteúdo do “tema específico” (curso de formação para trabalhadores
        espíritas). Você poderá escolher qualquer uma das opções a depender do seu pacote de dados de internet do seu
        dispositivo (celular, tablet, computador, etc). Geralmente planos pós-pagos de internet têm opções melhores para
        os dispositivos. <br><br>
        <strong>ZOOM</strong>: este é um aplicativo que possibilita videoconferências ao vivo. Uma hora de zoom consome aproximadamente
        1gb de dados. Além disso, você deve fazer o download do mesmo em seu aparelho previamente, atentando-se se há
        espaço suficiente de memória para realizá-lo. Esta opção nos permite uma maior interatividade com o expositor,
        entretanto, demanda uma quantidade maior de dados da internet. <br><br>
        <strong>VÍDEO</strong>: esta opção será oferecida via youtube. Uma hora de youtube consome aproximadamente 500mb de dados. Aqui
        teremos acesso a toda aula gravada, podendo enviar questionamentos posteriormente no campo de nossa plataforma
        “Dúvidas.” Esta opção nos permite menor interatividade, porém, com demanda menor de dados de internet. <br><br>
        <strong>ÁUDIO</strong>: esta opção é referente ao aúdio extraído da aula gravada. Uma hora de áudio consome aproximadamente 40mB.
        É indicada para os caravaneiros que têm pacote de dados bem limitado, como por exemplo ocorre nos planos
        pré-pagos de internet. Aqui teremos acesso a toda áudio da aula gravada, podendo enviar questionamentos
        posteriormente no campo de nossa plataforma “Dúvidas.”
    </p>
</section>