<div class="desenhos-imprimir">

    <div class="container-total">

        <a href="/concafrinhas/atividades">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png"
                title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png"
                title="Circo">
        </a>

        <div class="lista-opcoes">

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv01.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv02.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv03.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv04.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv05.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv06.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv07.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv08.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv09.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv10.png">
                </a>
            </div>

            <div class="item">
                <a href="/jovem/audithorium">
                    <img src="assets/concafras2021/concafrinhas/Atividades/Desenhos/Desenhos-atv11.png">
                </a>
            </div>

        </div>

        <img class="principal" src="assets/concafras2021/concafrinhas/Atividades/Desenhos/DesenhosInterior.jpg">

    </div>

</div>