.my-padlet-embed {
    border:1px solid rgba(0,0,0,0.1);
    border-radius:2px;
    box-sizing:border-box;
    overflow:hidden;
    position:relative;
    width:100%;
    background: white;
}

.my-padlet-embed p {
    padding:0;
    margin:0;
}

.my-padlet-embed p iframe {
    width:100%;
    height:100vh;
    display:block;
    padding:0;
    margin:0;
}

#surface-header {
    background-color: rgb(255, 0, 0) !important;
}

iframe {
    position: relative;
    width: 100%;
}
iframe .app-bar .surface-header .rubber-band-scroll-padder {
    background-color: rgb(24, 12, 136);
}
/* 
.my-padlet-embed div {
    padding:8px;
    text-align:right;
    margin:0;
}

.my-padlet-embed div a {
    padding:0;
    margin:0;
    border:none;
    display:block;
    line-height:1;
    height:16px;
}

.my-padlet-embed div a img {
    padding:0;
    margin:0;
    background:none;
    border:none;
    display:inline;
    box-shadow:none;
} */

