.my-padlet-embed {
    border:1px solid rgba(0,0,0,0.1);
    border-radius:2px;
    box-sizing:border-box;
    overflow:hidden;
    position:relative;
    width:100%;
    background: white;
}

.my-padlet-embed p {
    padding:0;
    margin:0;
}

.my-padlet-embed p iframe {
    width:100%;
    height:100vh;
    display:block;
    padding:0;
    margin:0;
}

element {
    background-color: rgb(255, 0, 0) !important;
}

#surface-header element {
    background-color: rgb(255, 0, 0) !important;
}

iframe {
    position: relative;
    width: 100%;
}
