<div class="atividades">

    <div class="container-total">

        <a href="/concafrinhas/home">
            <img class="btn-voltar buttons botao" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <a href="/concafrinhas/atividades/laborterapias">
            <img class="laborterapia buttons" src="assets/concafras2021/concafrinhas/Atividades/AtividadesLaborterapia.png"
                title="Laborterapias">
        </a>

        <a href="/concafrinhas/atividades/desenhos-imprimir">
            <img class="desenhos buttons" src="assets/concafras2021/concafrinhas/Atividades/AtividadesDesenhos.png"
                title="Desenhos para imprimir">
        </a>

        <img class="principal" src="assets/concafras2021/concafrinhas/Atividades/AtividadesInterior.jpg">

    </div>

</div>