<div id="bg">
  <img
    src="../../../assets/concafras2021/concafronas/acesso/Retangulo_1.png"
    alt=""
  />
</div>

<div class="container">
  <div class="row row-logotipo">
    <div class="Logotipo-horizontal"></div>
  </div>

  <div class="row" style="text-align: center">
    <h4 class="text-welcome">
      Bem vindo a CONCAFRAS 2021! Acesse abaixo a sua plataforma:
    </h4>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let epic of epics">
      <div class="panel panel-warning" *ngIf="epic.type == 'infancia'">
        <div>
          <a class="btn btn-primary btn-lg btn-epics" role="button" (click)="gotoInfancia(epic)">Infantil</a>
        </div>
      </div>

      <div class="panel panel-success" *ngIf="epic.type == 'jovem'">
        <div>
          <a class="btn btn-primary btn-lg btn-epics" role="button" (click)="gotoJovem(epic)">Jovem</a>
        </div>
      </div>

      <div class="panel panel-info" *ngIf="epic.type == 'adulto'">
        <div>
          <a class="btn btn-primary btn-lg btn-epics" role="button" (click)="gotoPrincipal(epic)">Adulto</a>
        </div>
      </div>
    </div>
  </div>
</div>
