<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul *ngIf="list.length">
        <li *ngFor="let item of list">{{item}}</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div> -->


<div class="container-total">

    <div class="left-content">

        <div class="opcoes-externas">
            <div class="modal-content-options">
                <a href="/concafrinhas/parquinho">
                    <img class="btn-show-flyer buttons" src="assets/concafras2021/concafrinhas/btn-show-flyer.png"
                        title="Cartilha">
                </a>

                <a href="/concafrinhas/home">
                    <img class="btn-print buttons" src="assets/concafras2021/concafrinhas/btn-print.png"
                        title="Baixar e Imprimir">
                </a>

                <a href="/concafrinhas/home">
                    <img class="btn-practice buttons" src="assets/concafras2021/concafrinhas/btn-practice.png"
                        title="Realizar Prática">
                </a>
            </div>
        </div>

    </div>

    <div class="right-content">

        <div class="video-content">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="video-container">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=WjF9ueC_bbY"
                            id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>