.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
