
.nav-right-sidebar {
    position: fixed;
    width: 320px;
    height: calc(100% - 90px);
    right: 0;
    top: 90px;
    overflow: auto;
}

.nav-right-sidebar .navbar {
    position: relative;
    padding: 14px;
}

.nav-right-sidebar .navbar-nav .nav-item {
    font-size: 12px;
    padding: 12px;
    /* margin-bottom: 2px; */
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
}

.nav-right-sidebar .navbar-nav .nav-header {
    padding: 12px 0px;
    margin: 12px 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.nav-right-sidebar .navbar-nav .nav-destaque {
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 25px;
    border: solid white 2px;
}

.nav-right-sidebar .navbar-nav .strong-hash {
    font-size: x-large;
}

#navbarNavRight {
    background-color: #273b87;
    border-radius: 10px;
}

.nav-item {
    color: #fff;
    font-size: 12px;
}

.card-height {
    min-height: 150px;
}

.img-size {
    width: 50px;
    height: 50px;
}

.btn-right-sidebar {
    background: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    border: solid white 1px;
    transition: 0.2s;
}

.btn-right-sidebar:hover {
    background-color: #1EA6EC;
    border-color: #273B87;
}