.fundo {
    background-image: url(/assets/jovem/img/back-game.png);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-position: right top;  
    background-size: cover;  
    background-repeat: no-repeat;
    z-index: -1;
  }
  