<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-md-3">
            <h2>{{title}}</h2>
        </div>

        <div class="col-md-6">
            <div class="input-group h2" *ngIf="false">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-3 text-right">
            <a [routerLink]="['/admin/user/add']" class="btn btn-success pull-right h2">Novo Item</a>
        </div>
    </div> <!-- /#top -->

    <hr />
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th>Email</th>
                        <th>Cidade/UF</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="item-user" *ngFor="let user of users">
                        <td>{{user.name}}</td>
                        <td>{{user.nick}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.city}}/{{user.state}}</td>
                        <td class="actions">
                            <!-- a class="btn btn-success btn-xs" href="view.html">Visualizar</ -->
                            <a class="btn btn-warning btn-xs" [routerLink]="['/admin/user/edit', user._id]">Editar</a>
                            <a class="btn btn-danger btn-xs" (click)="canDeleteUser(user)">Excluir</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12" *ngIf="pages.length > 1">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="page == 1">
              <a class="page-link" 
                [routerLink]="['/admin/user/list', page - 1]"
                [routerLinkActive]="['active']"
                >&lt; Anterior</a
              >
            </li>
            <li  class="page-item" [class.disabled]="p == page" *ngFor="let p of pages">
              <a class="page-link" 
                [routerLink]="['/admin/user/list', p]"
                [routerLinkActive]="['active']"
                >{{ p }}</a
              >
            </li>
            <li  class="page-item" [class.disabled]="page == pages.length" class="next">
              <a class="page-link" 
                [routerLink]="['/admin/user/list', page + 1]"
                [routerLinkActive]="['active']"
                rel="next"
                >Próximo &gt;</a
              >
            </li>
          </ul>
        </div>
        <!-- /.pagination -->
      </div>
      <!-- /#bottom -->
</div>

<div class="clearfix"></div>

<!-- Spinner -->
<ngx-spinner></ngx-spinner>