.maternal {
    height: 100%;
}

.container-total {
    overflow: hidden;
    position: relative;
    padding: 0;
} 

.maternal .t1 {
    width: 29.9%;
    top: 22%;
    left: 2%;
}
.maternal .t2 {
    width: 29.9%;
    top: 22%;
    left: 35%;
}

.maternal .t3 {
    width: 29.9%;
    top: 22%;
    right: 2%;
}

.buttons {
    height: auto;
    position: absolute;
    z-index: 1;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-voltar {
    width: 7%;
    max-height: 124px;
    top: 2%;
    right: 2%;
}

.btn-home {
    width: 7%;
    max-height: 124px;
    top: 2%;
    right: 9%;
}

.btn-upload {
    width: 9.5%;
    max-height: 124px;
    top: 2%;
    left: 2%;
}

.principal {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}

