div#center {
    text-align: center;
}

div.form-group {
    padding: 5px 0;
}

form {
    text-align: left;
}

span {
    font-size: 15px;
}

@media(min-width: 1200px) {
    .container-form {
        width: 970px;
    }
}

@media(min-width: 768px) {
    .container-form {
        width: 750px;
    }
}

.btn-send {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-sequence {
    margin: 5px 0px !important;
}

.div-select {
    display: flex;
    align-items: center;
    justify-content: left;
}

.div-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.select-content {
    margin: 5px 0px;
    width: 60%;
}

.input-sequence {
    display: initial;
    width: 100px;
}

.col-right {
    text-align: right;
}
