<div class="jardim">

    <div class="container-total">

        <a href="/concafrinhas/casa-nvl-1">
            <img class="btn-voltar buttons" src="assets/concafras2021/concafrinhas/btn-voltar.png" alt="Voltar"
                title="Voltar">
        </a>

        <a href="/concafrinhas/home">
            <img class="btn-home buttons" src="assets/concafras2021/concafrinhas/btn-home.png"
                title="Circo">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="btn-upload buttons" src="assets/concafras2021/concafrinhas/btn-upload.png" alt="Enviar arquivos"
                title="Enviar arquivos">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="t1 buttons" src="assets/concafras2021/concafrinhas/CasaNivel1/Jardim/JardimTemaCentral.png"
                title="Tema Central">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="t2 buttons" src="assets/concafras2021/concafrinhas/CasaNivel1/Jardim/JardimOficinaArte.png"
                title="Oficina de Arte">
        </a>

        <a href="/concafrinhas/audithorium">
            <img class="t3 buttons" src="assets/concafras2021/concafrinhas/CasaNivel1/Jardim/JardimTemaEspecifico.png"
                title="Tema Especifico">
        </a>

        <img class="principal" src="assets/concafras2021/concafrinhas/CasaNivel1/Jardim/JardimInterior.jpg">

    </div>

</div>