.my-modal-content {
    background-color: #d7963a;
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 50%;
}

.modal-body {
    height: 400px;
    width: 600px;
}

button.my-close {
    position: absolute;
    height: 35px;
    width: 35px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    right: -10px;
    color: white;
    top: -10px;
    opacity: 1;
    outline: none;
}