<div class="jogos-digitais">
    <div class="container-total">
    
        <div class="" *ngIf="id == '1'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Drogas Não - "Perseguição no Labirinto"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe
                                src="https://wordwall.net/pt/embed/76035402789740c1948f2c534293b3b2?themeId=53&templateId=49"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '2'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Evangelho e o Futuro - "Jogo da memória"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9084/602/743" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '3'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Jesus no lar - "Jogo do Avião"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe
                                src="https://wordwall.net/pt/embed/b58ead1ceefd4e53b2a4fcaf6f10033a?themeId=51&templateId=48"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '4'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Evangelização Infantil - "Jogo do labirinto"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/168748e065f14b048631688565fe9ec4?themeId=53&templateId=49"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '5'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Caridade I - "Perguntas e Respostas"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/23a6773491c749aab9e0fb170d64504e?themeId=29&templateId=30"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '6'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Caridade II - "Jogo da Memória"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/play/8490/907/335" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '7'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Caridade III - "Quiz Show"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/play/4624/898/890" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '8'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Caridade IV - "Relacione as palavras"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/4566/094/493" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '9'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Caridade V - "Forme a frase"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe
                                src="https://wordwall.net/pt/embed/b0156bd1eb1a44fbb76d136512c4725d?themeId=45&templateId=72"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '10'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Alcoolismo - Como evitar - "Complete a frase"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/pt/embed/c70797dc2fe344258a5752e7f3608234?themeId=1&templateId=36"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '11'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Alcoolismo - Como evitar II - "QuizShow"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/play/6599/080/531" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '12'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Em defesa da Vida - "Qual é a frase"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9060/528/888" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '13'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">O Bom Samaritano - "Jogo do labirinto"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/play/7291/869/747" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '14'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">O livro dos Espíritos I - "Encontre a palavra certa"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/resource/9033151/o-livro-dos-esp%c3%adritos" width="750"
                                height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '15'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">O livro dos espíritos II - "Relacione as palavras"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/pt/embed/fe0d9cfb49614efc8cae14dc899b674a?themeId=1&templateId=3"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '16'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">O nascimento de Jesus - "Palavra perdida"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/resource/5615897/o-nascimento-de-jesus" width="750" height="570"
                                frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '17'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Paz no Lar Paz no Mundo - "Jogo da Memória"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9054/289/266" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '18'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Paz no Lar Paz no Mundo II - ""Qual é a frase"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9054/289/113" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '19'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Família I - "Correia transportadora"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/8995/253/443" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '20'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Família II - "Perguntas e respostas"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/pt/embed/4f77cedbcc4d4b3a91a81525a794dd56?themeId=1&templateId=5"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '21'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Auta de Souza I - "Diagrama rotulado"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9059/409/384" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '22'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Auta de Souza II - "Quiz"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/93abe10932d645d8ad91670d1c283af0?themeId=1&templateId=5"
                                width="750" height="570" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="" *ngIf="id == '23'">
            <div class="py-5">
                <div class="container">
                    <div>
                        <p class="titulojoguinho">Alegria de viver - "Quiz de Imagens"</p>
                    </div>
                    <div class="row align-items-center justify-content-center">
        
                        <div class="">
                            <iframe src="https://wordwall.net/embed/play/9053/957/964" width="750" height="570" frameborder="0"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <img class="principal" src="assets/concafras2021/concafrinhas/Parquinho/ParquinhoInterior.jpg">
    </div>
</div>