@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.titulojoguinho{
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	text-shadow: 1px 2px 1px #0055FF;
}