<div class="dialogo" *ngIf="dialog == 'inicial'">
    <p class="text-left">Olá, eu sou a Marita! Que alegria te receber no Instituto Almas Irmãs! Aqui vamos aprender um pouco mais sobre as nossas relações e interagir uns com os outros! Escolha uma das opções abaixo:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a [routerLink]="['/jovem/ilha-irmas/dialogo/conhecendo']" [routerLinkActive]="['active']">Conhecendo o Instituto Almas Irmãs</a></li>
      <li class="list-group-item" *ngFor="let stage of stages">
        <a *ngIf="stage.activities.length > 1" [routerLink]="['/jovem/jovem-list/', stage._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
        <a *ngIf="stage.activities.length === 1" [routerLink]="['/jovem/audithorium/', 'activity', stage.activities[0]._id]" [routerLinkActive]="['active']">{{stage.name}}</a>
        <a *ngIf="stage.activities.length === 0" [routerLink]="" [routerLinkActive]="['inactive']">{{stage.name}}</a>
      </li>
      <li class="list-group-item color-red" *ngFor="let lecture of lectures">
        <a class="color-red" [routerLink]="['/jovem/audithorium/', 'lecture', lecture._id]" [routerLinkActive]="['active']">{{lecture.name}} ({{lecture.start_time | date: "dd/MM" }} {{lecture.start_time | date: "HH:mm" }}-{{lecture.end_time | date: "HH:mm" }})</a>
      </li>
      <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Sair da Ilha</a></li>
    </ul>
  </div>

     
<div class="dialogo" *ngIf="dialog == 'conhecendo'">
  <h4>Instituto Almas Irmãs</h4>
  <p class="justify-left">Texto explicativo da Ilha</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a [routerLink]="['/jovem/ilha-irmas/dialogo/inicial']" [routerLinkActive]="['active']">Voltar</a></li>
  </ul>
</div>
