<div class="dialogo" *ngIf="dialog == 'inicial'">
    <p class="text-left">Olá!! Que alegria te receber no Instituto Almas Irmãs! Aqui vamos aprender um pouco mais sobre as nossas relações e interagir uns com os outros! Escolha uma das opções abaixo:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a [routerLink]="['/jovem/ilha4/dialogo/historias']" [routerLinkActive]="['active']">Histórias</a></li>
      <li class="list-group-item"><a [routerLink]="['/jovem/ilha4/dialogo/de-jovem-para-jovem']" [routerLinkActive]="['active']">De Jovem para Jovem</a></li>
      <li class="list-group-item"><a [routerLink]="['/jovem/ilha4/dialogo/confraternizacao']" [routerLinkActive]="['active']">Confraternização e Tira Dúvidas</a></li>
      <li class="list-group-item"><a [routerLink]="['/jovem/ilha4/dialogo/mocidade']" [routerLinkActive]="['active']">Mocidade</a></li>
      <li class="list-group-item"><a [routerLink]="['/jovem/home']" [routerLinkActive]="['active']">Sair da Ilha</a></li>
    </ul>
  </div>
